<%= render(layout: 'biz_calendar/admin/piece/shared/form', locals: {f: f}) do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :target_type %></th>
    <td><%= f.array_select 'in_settings[target_type]', @item.class::TARGET_TYPE_OPTIONS, include_blank: true %></td>
  </tr>
  <tr>
    <th><%= @item.locale :page_filter %></th>
    <td><%= f.array_radio_buttons 'in_settings[page_filter]', @item.class::PAGE_FILTER_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= @item.locale :time_style %></th>
    <td><%= f.array_text_field 'in_settings[time_style]', size: 25 %> <strong>午前/午後</strong>：%P <strong>時：</strong>%H <strong>分：</strong>%M <strong>秒：</strong>%S</td>
  </tr>
</table>
<%- end -%>
