<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= f.radio_buttons :state, @item.class::STATE_OPTIONS, :class => 'states' %></td>
  </tr><tr>
    <th><%= @item.locale(:start_date) %> <span class="note">※</span></th>
    <td>
      <%= f.text_field :start_date, :value => value_for_datepicker(f.object_name, :start_date),
                             :style => 'width: 150px;', :class => 'datepicker' %>
      &nbsp;&nbsp;～&nbsp;&nbsp;
      <%= f.text_field :end_date, :value => value_for_datepicker(f.object_name, :end_date),
                             :style => 'width: 150px;', :class => 'datepicker' %>
    </td>
    </td>
  </tr>
</table>

<%= creator_form f %>

<%= javascript_tag do -%>

$(document).ready(function () {
  <%= enable_datepicker_script -%>
});

<%- end -%>
