<span class="note">※は必須項目です。</span>

<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'name' %></td>
  </tr>
  <tr>
    <th><%= f.label :group_id %></th>
    <td><%= f.select :group_id, Core.site.groups_for_option, include_blank: 'すべて' %></td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
  <tr>
    <th>承認者</th>
    <td>
      <div style="margin-bottom: 10px;"><%= select_tag 'groups', options_for_select(Core.site.groups_for_option), prompt: '-- グループを選択してください --', name: nil %></div>

      <div>
        ユーザ<br />
        <%= select_tag 'candidates', options_for_select([]), multiple: true, style: 'height: 150px; width: 150px;' %>
      </div>
      <div style="margin: 10px;">
        <span><%= button_to_function '▼追加', "$('#approvals_0 > option').attr('selected', false); $('#candidates > option:selected').attr('selected', true).appendTo($('#approvals_0'));" %></span>
        <span><%= button_to_function '▲除外', "$('#candidates > option').attr('selected', false); $('#approvals_0 > option:selected').appendTo($('#candidates'));" %></span>
      </div>

      <div id="approvals">
        <%= render 'approval' %>
        <%- @item.approvals.each do |approval| -%>
        <%= render 'approval', approval: approval %>
        <%- end -%>
      </div>
    </td>
  </tr>
</table>

<%= javascript_tag do -%>
function increase_approval() {
  var approvals_wrapper = $('#approvals');
  var new_approval = approvals_wrapper.children(':first-child').clone(true);
  var next_index = approvals_wrapper.children().length - 1;

  new_approval.find(':disabled').removeAttr('disabled');
  new_approval.find('input.index').val(next_index)
  new_approval.find('span.index').text(next_index + 1)
  new_approval.find('select.approvals').attr('id', new_approval.find('select.approvals').attr('id').replace('N', next_index));
  new_approval.find('select.approvals').attr('name', new_approval.find('select.approvals').attr('name').replace('N', next_index));
  new_approval.find('input.approval_type_fix').attr('id', new_approval.find('input.approval_type_fix').attr('id').replace('N', next_index));
  new_approval.find('input.approval_type_fix').attr('name', new_approval.find('input.approval_type_fix').attr('name').replace('N', next_index));
  new_approval.find('label.approval_type_fix').attr('for', new_approval.find('label.approval_type_fix').attr('for').replace('N', next_index));
  new_approval.find('input.approval_type_select').attr('id', new_approval.find('input.approval_type_select').attr('id').replace('N', next_index));
  new_approval.find('input.approval_type_select').attr('name', new_approval.find('input.approval_type_select').attr('name').replace('N', next_index));
  new_approval.find('label.approval_type_select').attr('for', new_approval.find('label.approval_type_select').attr('for').replace('N', next_index));

  new_approval.appendTo(approvals_wrapper).show();
}

function decrease_approval() {
  var approvals_wrapper = $('#approvals');
  if (approvals_wrapper.children().length > 1) {
    approvals_wrapper.children(':last-child').remove();
  }
}

function move_users(from, to) {
  var next_list = $('#approvals_' + (from + 1));
  var from_list = $('#approvals_' + from);
  var to_list   = $('#approvals_' + to);

  if (from_list.find('> option:selected').length === 0) { return; }

  if (from_list.find('> option:selected').length === from_list.find('> option').length &&
      (from < to || (from > to && next_list[0]))) {
    alert('最低1人は残す必要があります。');
    return;
  }

  if (to_list[0] === undefined) {
    increase_approval();
    to_list = $('#approvals_' + to);
  }

  to_list.find('> option').attr('selected', false);
  from_list.find('> option:selected').appendTo(to_list);

  if (from_list.find('> option').length === 0) { decrease_approval(); }
}

function make_or(index) {
  var list = $('#approvals_' + index);
  var options = list.find('> option:selected');
  
  if (options.length <= 1) { return; }

  var users = [];
  var values = [];
  options.each(function() {
    users = users.concat($(this).text().split('or'));
    values = values.concat($(this).val().split(','));
  });

  options.remove();
  list.append($('<option>').val(values.join(',')).text(users.join('or')));
}

function clear_or(index) {
  var list = $('#approvals_' + index);
  var options = list.find('option:selected');
  
  var users = [];
  var values = [];
  options.each(function() {
    users = users.concat($(this).text().split('or'));
    values = values.concat($(this).val().split(','));
  });

  options.remove();
  for (var i=0; i<users.length; i++) {
    list.append($('<option>').val(values[i]).text(users[i]));
  }
}

$(document).ready(function () {
  $('#groups').on('change', function (event) {
    var group_id = parseInt(event.target.value);
    if (isNaN(group_id)) {
      $('#candidates').html('<option value=""></option>');
    } else {
      $('#candidates').html('<option value="">更新中...</option>');
      $.get('<%= sys_group_users_path(parent: 'PARENT') %>?options=true'.replace('PARENT', group_id), function (data) {
        $('#candidates').html(data);
      });
    }
  });

  $('#candidates').closest('form').submit(function (event) {
    $('#candidates > option').attr('selected', false);
    $('#approvals select.approvals > option').attr('selected', true);
  });

  <%- if @item.approvals.empty? -%>
  increase_approval();
  <%- end -%>
});
<%- end -%>
