<%= render(layout: 'gp_category/admin/piece/shared/show') do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :list_count %></th>
    <td colspan="3"><%= @item.setting_value(:list_count) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :layer %></th>
    <td colspan="3"><%= @item.class::LAYER_OPTIONS.detect{|lo| lo.last == @item.setting_value(:layer) }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :category_type_id %></th>
    <td><%= @item.category_type.try(:title) %></td>
    <th><%= @item.locale :category_id %></th>
    <td><%= @item.category.try(:title) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :list_style %></th>
    <td colspan="3"><%= @item.setting_value(:list_style) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :date_style %></th>
    <td colspan="3"><%= @item.setting_value(:date_style) %></td>
  </tr>
</table>
<%- end -%>
