<%= render(layout: 'gp_category/admin/piece/shared/show') do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :list_count %></th>
    <td colspan="3"><%= @item.setting_value(:list_count) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :layer %></th>
    <td colspan="3"><%= @item.class::LAYER_OPTIONS.detect{|lo| lo.last == @item.setting_value(:layer) }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :category_type_id %></th>
    <td><%= @item.category_type.try(:title) %></td>
    <th><%= @item.locale :category_id %></th>
    <td><%= @item.category.try(:title) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :list_style %></th>
    <td colspan="3"><%= @item.setting_value(:list_style) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :date_style %></th>
    <td colspan="3"><%= @item.setting_value(:date_style) %></td>
  </tr>
  <tr>
    <th>表示カテゴリ</th>
    <td colspan="3">
      <table class="show">
        <tbody>
          <%- @item.category_sets.each do |category_set| -%>
          <tr>
            <th><%= GpCategory::CategoryType.model_name.human %></th>
            <td><%= category_set[:category].category_type.title %></td>
            <th><%= GpCategory::Category.model_name.human %></th>
            <td><%= category_set[:category].title %></td>
          </tr>
          <tr>
            <th><%= GpCategory::Category.model_name.human %>階層</th>
            <td colspan="3"><%= @item.class::LAYER_OPTIONS.detect{|o| o.last == category_set[:layer] }.try(:first) %></td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <th><%= @item.locale :doc_style %></th>
    <td colspan="3"><%=simple_format @item.setting_value(:doc_style) %></td>
  </tr>
</table>
<%- end -%>
