<%-

return if item.inquiries.size == 0
return if !item.inquiries.any?(&:visible?)

-%><div class="inquiry">
  <div class="h2">お問い合わせ</div>
  <%- item.inquiries.each do |inquiry| -%>
    <%- next unless inquiry.visible? -%>
        <div class="section"><%= inquiry.group.full_name %></div>
    <%- if item.inquiry_display_field?(:charge) && inquiry.charge.present?
     -%><div class="charge"><%= inquiry.charge %></div><%- end -%>
    <%- if item.inquiry_display_field?(:address) && inquiry.address.present?
     -%><div class="address">住所： <%= inquiry.address %></div><%- end -%>
    <%- if item.inquiry_display_field?(:tel) && inquiry.tel.present?
     -%><div class="tel">TEL： <%= tel_to inquiry.tel %><%= inquiry.tel_attend %></div><%- end -%>
    <%- if item.inquiry_display_field?(:fax) && inquiry.fax.present?
     -%><div class="fax">FAX： <%= inquiry.fax %></div><%- end -%>
    <%- if item.inquiry_display_field?(:email) && inquiry.email.present?
     -%><div class="email">メールアドレス： <%= email_to inquiry.email %></div><%- end -%>
    <%- if item.inquiry_display_field?(:note) && inquiry.note.present?
     -%><div class="note">備考： <%= inquiry.note %></div><%- end -%>
  <%- end -%>
</div>
