<%-
pubdate = @item.find_task_by_name('publish').try(:strftime, '%Y-%m-%d %H:%M') if @item
if pubdate
  pubmsg = "公開日時が設定されています。\n（ #{pubdate} ）\n直ちに公開してよろしいですか？" if pubdate
else
  pubmsg = '公開してよろしいですか？'
end
-%>
<h2><%= @content.name %><%= sub ? " ： #{sub}" : '' %></h2>

<div class="actionMenu">
  <%- if params[:action] == 'index' -%>
  <%= link_to '新規作成', new_gp_article_doc_path %>
  <span class="separator"></span>
  <%= link_to "#{GpArticle::Doc.model_name.human}一覧", gp_article_docs_path %>
  <%= link_to '編集可能', gp_article_docs_path(target: 'editable') %>
  <span class="separator"></span>
  <%= link_to '下書き', gp_article_docs_path(target: 'draft'), (params[:target] == 'draft' ? {class: 'current'} : {}) %>
  <%= link_to '承認待ち', gp_article_docs_path(target: 'recognizable'), (params[:target] == 'recognizable' ? {class: 'current'} : {}) %>
  <%= link_to '公開待ち', gp_article_docs_path(target: 'publishable'), (params[:target] == 'publishable' ? {class: 'current'} : {}) %>
  <%= link_to '公開中', gp_article_docs_path(target: 'public'), (params[:target] == 'public' ? {class: 'current'} : {}) %>
  <%= link_to '非公開', gp_article_docs_path(target: 'closed'), (params[:target] == 'closed' ? {class: 'current'} : {}) %>
  <span class="separator"></span>
  <%= link_to "全#{GpArticle::Doc.model_name.human}一覧", gp_article_docs_path(target: 'all') %>
  <%- end -%>

  <%- if params[:action] == 'new' -%>
  <%= link_to "#{GpArticle::Doc.model_name.human}一覧", gp_article_docs_path %>
  <%- end -%>

  <%- if params[:action] == 'show' -%>
  <%= link_to "#{GpArticle::Doc.model_name.human}一覧", gp_article_docs_path %>
  <span class="separator"></span>
  <%= link_to '編集', edit_gp_article_doc_path if @item.try(:editable?) %>
  <%= link_to '削除', gp_article_doc_path, :method => :delete, :confirm => '削除してよろしいですか？' if @item.try(:deletable?) %>
  <%= link_to :duplicate, {:do => :duplicate}, :confirm => '複製してよろしいですか？' %>
  <%= link_to :recognize, {:do => :recognize}, :confirm => '承認してよろしいですか？' if @item.recognizable?(Core.user) %>
  <%= link_to :publish, {:do => :publish}, :confirm => pubmsg if @item.publishable? %>
  <%= link_to :close, {:do => :close}, :confirm => '公開を終了してよろしいですか？' if @item.closable? %>
  <%- end -%>

  <%- if params[:action] == 'edit' -%>
  <%= link_to "#{GpArticle::Doc.model_name.human}一覧", gp_article_docs_path %>
  <span class="separator"></span>
  <%= link_to '詳細', gp_article_doc_path %>
  <%- end -%>
</div>
