<div class="navi">
  <%= @full_path.gsub(@base_uri[0], @base_uri[1]) %>
</div>

<div class="actionMenu">
<%
path    = (::File.dirname(@path) == '.') ? nil : ::File.dirname(@path)
parent  = path ? "#{cms_stylesheets_path}/#{path}" : cms_stylesheets_path
current = @path ? "#{cms_stylesheets_path}/#{@path}" : cms_stylesheets_path
%>
<%= link_to "上へ", parent if @path != "" && !params[:do] && @item.directory? %>
<%= link_to :index, parent if params[:do] %>
<% if !params[:do] && @item.directory? %>
  <a href="#" id="newDir">新規ディレクトリ</a>
  <a href="#" id="newFile">新規ファイル</a>
  <a href="#" id="newUpload">アップロード</a>
<% end %>
<% if params[:do] == "show" %>
  <%= link_to :edit, current + "?do=edit" if @item.textfile? %>
  <%= link_to "名称変更", current +"?do=rename" %>
  <%= link_to "移動", current + "?do=move" %>
  <%= link_to "削除", current + "?do=destroy", :confirm => "削除してよろしいですか？" %>
<% elsif params[:do] %>
  <%= link_to :show, current + "?do=show" %>
<% end %>
</div>
