<span class="note">※は必須項目です。</span>

<br /><p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= f.label :name %> <span class="note">※</span></th>
    <td><%= f.text_field :name, :style => 'width: 400px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :style => 'width: 400px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
</table>

<%= creator_form f %>
