<%= render :partial => "#{::File.dirname(params[:controller])}/data_files/menu" %>

<%#= render :file => "cms/admin/data/file_nodes/show.html.erb" %>

<table class="show">
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.title %></td>
  </tr>
</table>
