<%= render(layout: 'map/admin/piece/shared/form', locals: {f: f}) do -%>
<br />
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= GpCategory::CategoryType.model_name.human %></th>
    <td>
      <div id="category_types">
        <%= render 'category_type', category_type: nil,
                                    category_types_for_option: @item.category_types_for_option %>
        <%- @item.visible_category_types.each do |category_type| -%>
        <%= render 'category_type', category_type: category_type,
                                    category_types_for_option: @item.category_types_for_option %>
        <%- end -%>
        <span><%= button_tag '追加', type: 'button', id: "add_category_type" %></span>
      </div>
    </td>
  </tr>
  <tr>
    <th>リンク先</th>
    <td>
      <%= select_tag 'target_node', options_for_select(@item.content.public_nodes.map {|n| ["#{n.title}（#{n.name}）", n.id]}, @item.target_node.try(:id)) %>
    </td>
  </tr>
</table>

<%= javascript_tag do -%>
$(document).ready(function () {
  $('#add_category_type').on('click', function () {
    var category_types_wrapper = $('#category_types');
    var new_category_type = category_types_wrapper.children(':first-child').clone(true);
    new_category_type.find(':disabled').removeAttr('disabled');
    new_category_type.insertBefore(category_types_wrapper.children(':last-child')).show();
  }).trigger('click');
});
<%- end -%>
<%- end -%>
