<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= SnsShare::Account.human_attribute_name :provider %></th>
    <th><%= SnsShare::Account.human_attribute_name :info_image %></th>
    <th><%= SnsShare::Account.human_attribute_name :info_name %></th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, sns_share_account_path(content: @content, id: item.id) %></td>
    <td style="text-align: left;"><%= item.provider.humanize %></td>
    <td style="text-align: left;"><%= image_tag item.info_image if item.info_image.present? %></td>
    <td style="text-align: left;"><%= item.info_name %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
