<table class="index">
  <tr>
    <th><%= SnsShare::Account.human_attribute_name :provider %></th>
    <th><%= SnsShare::Account.human_attribute_name :uid %></th>
    <th><%= SnsShare::Account.human_attribute_name :info_image %></th>
    <th><%= SnsShare::Account.human_attribute_name :info_nickname %></th>
    <th><%= SnsShare::Account.human_attribute_name :info_name %></th>
  </tr>
  <%- @items.each do |item| -%>
  <%- path = case item.provider
             when 'facebook'
               o_auth_facebook_path(class: item.class.name, id: item.id, return_to: sns_share_accounts_path(content: @content))
             when 'twitter'
               o_auth_twitter_path(class: item.class.name, id: item.id, return_to: sns_share_accounts_path(content: @content))
             end -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: left;"><%= link_to_if path, "#{item.provider.humanize}に#{'再' if item.uid.present?}ログイン", path %></td>
    <td style="text-align: left;"><%= item.uid %></td>
    <td style="text-align: left;"><%= image_tag item.info_image if item.info_image.present? %></td>
    <td style="text-align: left;"><%= link_to_if item.info_url.present?, item.info_nickname, item.info_url, target: 'preview' %></td>
    <td style="text-align: left;"><%= item.info_name %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
