<%= form_tag '', :method => 'get', :class => 'search' do -%>
<table>
  <tr>
    <th><%= Tool::ConvertDoc.human_attribute_name :uri_path %>、<%= Tool::ConvertDoc.human_attribute_name :doc_public_uri %>、<%= Tool::ConvertDoc.human_attribute_name :doc_name %>、<%= Tool::ConvertDoc.human_attribute_name :title %>、<%= Tool::ConvertDoc.human_attribute_name :body %></th>
    <td rowspan="2" class="submitters">
      <%= submit_tag '検索', :name => 'search' %>
      <%= submit_tag 'リセット', :name => 'reset' %>
    </td>
  </tr>
  <tr>
    <td><%= text_field_tag 'criteria[keyword]', params[:criteria].try('[]', :keyword), :style => 'width: 400px;' %></td>
  </tr>
</table>
<%- end -%>
