<span class="note">※は必須項目です。</span>

<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.radio_buttons :state, @item.class::STATE_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:title) %></th>
    <td><%= @item.sys_group.name %></td>
  </tr>
  <tr>
    <th><%= f.label :sitemap_state %></th>
    <td><%= f.radio_buttons :sitemap_state, @item.class::SITEMAP_STATE_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= f.label :docs_order %></th>
    <td><%= f.select :docs_order, @item.class::DOCS_ORDER_OPTIONS, include_blank: true %></td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
</table>

<p class="form">ページ設定</p>

<table class="show">
  <%= concept_and_layout_form f, more: true %>
</table>

<p class="form">組織情報</p>

<table class="show">
  <tr>
    <th><%= f.label :outline %></th>
    <td class="cke_editor_wrapper">
      <%= init_ckeditor %>
      <%= f.text_area :outline, :class => 'body ckeditor' %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :business_outline %></th>
    <td class="cke_editor_wrapper">
      <%= init_ckeditor %>
      <%= f.text_area :business_outline, :class => 'body ckeditor' %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :contact_information %></th>
    <td class="cke_editor_wrapper">
      <%= init_ckeditor %>
      <%= f.text_area :contact_information, :class => 'body ckeditor' %>
    </td>
  </tr>
</table>

<script type="text/javascript">
//<![CDATA[

var isGecko = false;

/**
 * Get TextRange
 */
function getTextRange (element) {
  var value;

  if (document.selection) {
    if (true) {
      value = parent.document.selection.createRange().text;
    } else {
      value = document.selection.createRange().text;
    }
  } else if (isGecko) {
    var start = element.selectionStart;
    var end = element.selectionEnd;
    value = element.value.substring(start, end);
  } else {
    value = '';
  }
  return value;
}

/**
 * Set TextRange
 */
function setTextRange (element, value) {
  if (document.selection) {
    if (true) {
      element.focus();
      parent.document.selection.createRange().text = value;
    } else {
      element.focus();
      document.selection.createRange().text = value;
    }
  } else if (isGecko) {
    var start = element.selectionStart;
    var end   = element.selectionEnd;
    var len   = element.textLength;
    var str   = element.value.substring(start, end);
    var head  = element.value.substring(0, start);
    var foot  = element.value.substring(end, len);
    element.value = head + value + foot;
  } else {
    element.value += value;
  }
}

/**
 * set insert text
 */

var focusEditorId = null;

$(document).ready(function () {
  CKEDITOR.replace( 'item_outline' , {}).on( 'focus', function( e ) {
    focusEditorId = 'item_outline';
  } );
  CKEDITOR.replace( 'item_business_outline' , {}).on( 'focus', function( e ) {
    focusEditorId = 'item_business_outline';
  } );
  CKEDITOR.replace( 'item_contact_information' , {}).on( 'focus', function( e ) {
    focusEditorId = 'item_contact_information';
  } );
});

function setText(element, text ) {
  if (focusEditorId == null) {
    return false;
  }
  element = document.getElementById(focusEditorId);
  parent.CKEDITOR.instances[element.id].insertText(text);
  return false;
}

//]]>
</script>

<table class="show">
  <tr>
    <th>ファイル</th>
    <td>
      <a href="#" onclick="$(this).toggleOpen('#inlineFiles'); return false;">開く▼</a>
    </td>
  </tr>
</table>

<div style="display: none;" class="inlineForm" id="inlineFiles">
  <iframe src="<%= cms_inline_data_files_path(0) %>" style="width: 100%; height: 340px;" frameborder="0"></iframe>
</div>


<%= creator_form f %>
