<% if defined?(container) && container != :tr %>
<table class="show">
<% end %>
  <tr>
    <th><%= @item.locale(:concept_id) %></th>
    <td><%= @item.concept.name %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:model) %></th>
    <td><%= @item.model_name(:short) %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:code) %></th>
    <td><%= @item.code %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:note) %></th>
    <td><%= @item.note %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:sort_no) %></th>
    <td><%= @item.sort_no %></td>
  </tr>
<% if defined?(container) && container != :tr %>
</table>
<% end %>
