<%= form_for(:item, :url => gp_article_doc_files_path(@content, doc_id: @doc_id), :html => {:multipart => true, :id => 'file_form'}) do |f| %>
  <%= error_messages_for :item %>
  <%= render 'form_multiple_smart_phone', f: f, submit_label: 'アップロード' %>
<% end %>

<%= javascript_tag do %>
function ckeInsertContent(value) {
  if (parent.CKEDITOR.currentInstance) {
    parent.CKEDITOR.currentInstance.insertHtml(value);
  } else {
    for (var i in parent.CKEDITOR.instances) {
      var instance = parent.CKEDITOR.instances[i];
      if (instance.container.isVisible()) {
        instance.insertHtml(value);
        break;
      }
    }
  }
}
<% end %>

<table class="index">
  <tr>
    <th style="text-align: center;">詳細</th>
    <th style="text-align: center;">番号</th>
    <th style="text-align: center;">添付</th>
    <th style="text-align: center;">サムネイル</th>
    <th style="text-align: center;">画像<br />貼付</th>
    <th>添付ファイル名</th>
    <th style="text-align: center;">サイズ<br />（幅x高さ）</th>
  </tr>

  <% @items.each do |item| %>
  <%- file_path = gp_article_doc_file_path(@content, doc_id: @doc_id, id: item.id)
      file_content_relative_path = "file_contents/#{item.escaped_name}"
      file_content_path = "#{gp_article_doc_path(@content, id: @doc_id)}/#{file_content_relative_path}" -%>
  <tr>
    <td style="text-align: center;"><%= link_to :show, file_path %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td style="text-align: center;">
      <%= link_to_function '添付',
        %Q(ckeInsertContent('<a href="#{file_content_path}" class="#{item.css_class}">#{h item.united_name}</a>')), id: "link_attach#{item.id}" %>
    </td>
    <td style="text-align: center;">
      <% if item.image_file? %>
        <%= link_to image_tag(file_content_path, style: item.reduced_size(width: 80, height: 40, css: true)), view_gp_article_doc_file_path(@content, doc_id: @doc_id, id: item.id), class: 'thumbnail', title: item.title %>
      <% else %>
        <%= link_to 'File', file_content_path, class: item.css_class, onclick: "parent.document.location=$(this).attr('href'); return false;" %>
      <% end %>
    </td>
    <td style="text-align: center;">
      <% if item.image_file? %>
        <%= link_to_function '貼付',
          %Q(ckeInsertContent('<img src="#{file_content_path}" alt="#{item.alt}" title="#{item.alt}" />')), id: "link_image#{item.id}" %>
      <% end %>
    </td>
    <td><span class="item_name" item_name="<%= item.name %>"><%= item.name %></span></td>
    <td style="text-align: center;"><%= item.eng_unit %><br /><%= item.image_size %></td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>
