<h2><%= @content.name %><%= defined?(sub) ? " ： #{sub}" : '' %></h2>
<%-
menus1 = []
menus1 << action_menu(:new) if Core.user.has_auth?(:designer) && Core.user.has_priv?(:create, item: Core.concept)
menus1 << action_menu(:index)
menus1.delete("")
menus2 = []
menus2 << action_menu(:show)
menus2 << action_menu(:edit) if @item.try(:editable?)
menus2 << action_menu(:destroy) if @item.try(:deletable?)
menus2.delete("")
-%>
<div class="actionMenu">
  <%=raw menus1.join(' ') %>
  <%- if menus2.present? -%>
    <span class="separator"></span>
    <%=raw menus2.join(' ') %>
  <%- end -%>
  <% if params[:action] == 'show' %>
    <% if Core.user.has_priv?(:create, :item => Core.concept) %>
    <%= link_to :duplicate, {:do => :duplicate}, :confirm => "複製してよろしいですか？" %>
    <% end %>
  <% end %>
</div>
