<%= init_ckeditor :readOnly => true %>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:event_start_date) %></th>
    <td><%= @item.event_start_date %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:event_end_date) %></th>
    <td><%= @item.event_end_date %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:genre) %></th>
    <td><%=hbr @item.get_genre_title %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:status) %></th>
    <td><%=hbr @item.get_status_title %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:title) %></th>
    <td><%=hbr @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:event_uri) %></th>
    <td><%= link_to h(@item.event_uri), @item.event_uri, :target => "_blank" %></td>
  </tr>
</table>

<%= creator_view @item %>
