<div class="contentRankThisWeek">

<h2><%= Rank::Rank.model_name.human %>一覧</h2>

<ul>
  <% @ranks.each.with_index(1 + (params[:page].to_i > 0 ? (params[:page].to_i - 1) * 20 : 0)) do |rank, i| -%>
  <li <%= (i <= 10) ? "class=""ranking#{i}""" : "" %>><span class="rank"><%= i %></span><%= link_to(rank.page_title, "http://#{rank.hostname}#{rank.page_path}", {target: "http://#{rank.hostname}/".index(Page.site.full_uri) ? nil : '_blank'})%><%= "(#{rank.accesses})" unless @content.setting_value(:show_count) == "0" %></li>
  <%- end -%>
</ul>

</div>

<%= paginate @ranks %>
