<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.radio_buttons :state, @item.class::STATE_OPTIONS, class: 'status' %></td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th><%= f.label :date %></th>
    <td><%= f.text_field :date, value: value_for_datepicker(f.object_name, :date), style: 'width: 150px;', :class => 'datepicker' %>
        <%= f.check_box :repeat, onclick: "$('#rsvp').submit()" %> <%= f.label :repeat %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_field :description, style: 'width: 700px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :kind %></th>
    <td><%= f.radio_buttons :kind, @item.class::KIND_OPTIONS %></td>
  </tr>
</table>

<%- if @content.event_sync_import? -%>
<p class="form">同期元情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_host %></th>
    <td><%= @item.sync_source_host %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_content_id %></th>
    <td><%= @item.sync_source_content_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_id %></th>
    <td><%= @item.sync_source_id %></td>
  </tr>
</table>
<%- end -%>

<%= creator_form f %>

<%= javascript_tag do %>
$(document).ready(function () {
  <%= enable_datepicker_script %>
  datepicker('<%= 'yy年' unless @item.repeat %>');

  $('#item_repeat').change(function() {
    var checked = $(this).is(':checked');
    if(checked) {
      yy = '';
    }else{
      yy = 'yy年';
    }
    datepicker(yy);
  });

  function datepicker(yy){
    $('.datepicker').datepicker('option', 'dateFormat', yy + 'mm月dd日');
  }
});
<% end %>
