<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :date %></th>
    <td><%= @item.repeat ? i18n_l(@item.date, '* %m月%d日') : i18n_l(@item.date, '%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :kind %></th>
    <td><%= @item.class::KIND_OPTIONS.detect{|to| to.last == @item.kind }.try(:first) %></td>
  </tr>
</table>

<%= javascript_tag do -%>
<%= toggle_form_function -%>
<%- end -%>

<%- if @content.event_sync_import? -%>
<p class="form">同期元情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_host %></th>
    <td><%= @item.sync_source_host %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_content_id %></th>
    <td><%= @item.sync_source_content_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_id %></th>
    <td><%= @item.sync_source_id %></td>
  </tr>
</table>
<%- end -%>

<%= creator_view @item %>
