<p class="form">基本情報</p>

<table class="show">
  <%= piece_base_view @item, :container => :tr %>
</table>

<br />
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :list_count %></th>
    <td><%= @item.setting_value(:list_count) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :list_style %></th>
    <td colspan="3"><%= @item.setting_value(:list_style) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :date_style %></th>
    <td colspan="3"><%= @item.setting_value(:date_style) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :more_label %></th>
    <td><%= @item.setting_value(:more_label) %></td>
  </tr>
</table>

<br />
<p class="form">タブ設定</p>

<div class="actionMenu">
  <%= link_to(:edit, gp_category_piece_recent_tab_tabs_path(piece_recent_tab_id: @item.id)) if @item.editable? %>
</div>

<table class="show">
  <%- GpCategory::Piece::RecentTabXml.find(:all, @piece, :order => :sort_no).each_with_index do |item, idx| -%>
  <tr>
    <th>タブ <%= idx + 1 %></th>
    <td><%= item.title %></td>
  </tr>
  <%- end -%>
</table>

<%= creator_view @item %>
