<%= init_ckeditor %>
<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.radio_buttons :state, @item.class::STATE_OPTIONS, :class => 'status' %></td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'name' %></td>
  </tr>
  <tr>
    <th><%= f.label :upper_text %></th>
    <td class="cke_editor_wrapper"><%= f.text_area :upper_text, :class => 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= f.label :lower_text %></th>
    <td class="cke_editor_wrapper"><%= f.text_area :lower_text, :class => 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
  <tr>
    <th><%= f.label :opened_at %></th>
    <td><%= f.text_field :opened_at, :value => value_for_datetimepicker(f.object_name, :opened_at),
                         :style => 'width: 150px;', :class => 'datetimepicker' %></td>
  </tr>
  <tr>
    <th><%= f.label :closed_at %></th>
    <td><%= f.text_field :closed_at, :value => value_for_datetimepicker(f.object_name, :closed_at),
                         :style => 'width: 150px;', :class => 'datetimepicker' %></td>
  </tr>
</table>

<%= javascript_tag do -%>
$(document).ready(function () {
  <%= enable_datetimepicker_script -%>
});
<%- end -%>
