<%= init_ckeditor %>
<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :name %> <span class="note">※</span></th>
    <td><%= f.text_field :name, :class => 'name' %>（使用可能文字： 半角英数字,_,-）</td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'title' %></td>
  </tr>
  <tr>
    <th><%= f.label :summary %></th>
    <td class="cke_editor_wrapper"><%= f.text_area :summary, :class => 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td class="cke_editor_wrapper"><%= f.text_area :description, :class => 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= f.label :receipt %></th>
    <td class="cke_editor_wrapper"><%= f.text_area :receipt, :class => 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= f.label :sitemap_state %></th>
    <td><%= f.radio_buttons :sitemap_state, @item.class::SITEMAP_STATE_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= f.label :index_link %></th>
    <td><%= f.radio_buttons :index_link, @item.class::INDEX_LINK_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
  <tr>
    <th><%= f.label :confirmation %></th>
    <td><%= f.radio_buttons :confirmation, @item.class::CONFIRMATION_OPTIONS %></td>
  </tr>
</table>

<p class="form">公開日時設定</p>

<table class="show">
<%- if @content.approval_related? -%>
  <tr>
    <th>公開開始日時</th>
    <td><%= f.array_text_field 'in_tasks[publish]', :style => 'width: 150px;', :class => 'datetimepicker' %></td>
  </tr>
<%- else -%>
  <%= hidden_field_tag 'item[in_tasks][publish]', '' -%>
<%- end -%>
  <tr>
    <th>公開終了日時</th>
    <td><%= f.array_text_field 'in_tasks[close]', :style => 'width: 150px;', :class => 'datetimepicker' %></td>
  </tr>
</table>

<%- if @content.approval_related? -%>
<p class="form">承認</p>
<%= render 'approval/admin/_partial/form', {f: f, item: @item, content: @content} %>
<%- end -%>

<%= creator_form f %>

<%= javascript_tag do -%>
$(document).ready(function () {
  <%= enable_datetimepicker_script -%>
});
<%- end -%>
