<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= Survey::Form.human_attribute_name :title %></th>
    <th style="text-align: center; width: 100px;"><%= Survey::Question.model_name.human %></th>
    <th style="text-align: center; width: 100px;"><%= Survey::FormAnswer.model_name.human %></th>
    <th style="text-align: center; width: 80px;"><%= Survey::Form.human_attribute_name :sort_no %></th>
    <th style="text-align: center; width: 120px;"><%= Survey::Form.human_attribute_name :created_at %></th>
    <th style="text-align: center; width: 60px;"><%= Survey::Form.human_attribute_name :state %></th>
    <th style="text-align: center; width: 65px;">プレビュー</th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, survey_form_path(content: @content, id: item.id) %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: center;"><%= link_to "#{Survey::Question.model_name.human}一覧", survey_form_questions_path(content: @content, form_id: item.id) %></td>
    <td style="text-align: center;"><%= link_to "#{Survey::FormAnswer.model_name.human}一覧", survey_form_form_answers_path(content: @content, form_id: item.id) %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
    <td style="text-align: center;"><%=l item.updated_at %></td>
    <td style="text-align: center;"><%= item.status.name %></td>
    <td style="text-align: center;">
      <%= link_to_if @content.public_node && item.preview_uri.present?, 'PC', item.preview_uri, target: '_blank' %>
      <%= link_to_if @content.public_node && item.preview_uri.present?, '携帯', item.preview_uri(mobile: true), target: '_blank' %>
    </td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
