<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :summary %></th>
    <td><%=raw @item.summary %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%=raw @item.description %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :receipt %></th>
    <td><%=raw @item.receipt %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :opened_at %></th>
    <td><%=l @item.opened_at unless @item.opened_at.nil? %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :closed_at %></th>
    <td><%=l @item.closed_at unless @item.closed_at.nil? %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :confirmation %></th>
    <td><%= @item.class::CONFIRMATION_OPTIONS.detect{|o| o.last == @item.confirmation }.try(:first) %></td>
  </tr>
</table>
