<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :summary %></th>
    <td><%=raw @item.summary %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%=raw @item.description %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :receipt %></th>
    <td><%=raw @item.receipt %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:sitemap_state) %></th>
    <td><%= @item.class::SITEMAP_STATE_OPTIONS.detect{|o| o.last == @item.sitemap_state }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:index_link) %></th>
    <td><%= @item.class::INDEX_LINK_OPTIONS.detect{|o| o.last == @item.index_link }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :opened_at %></th>
    <td><%=l @item.opened_at unless @item.opened_at.nil? %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :closed_at %></th>
    <td><%=l @item.closed_at unless @item.closed_at.nil? %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :confirmation %></th>
    <td><%= @item.class::CONFIRMATION_OPTIONS.detect{|o| o.last == @item.confirmation }.try(:first) %></td>
  </tr>
</table>

<%- if @content.approval_related? -%>
<p class="form">承認</p>

<table class="show">
  <tr>
    <th><%= Approval::ApprovalFlow.model_name.human %></th>
    <%- if @content.approval_content_approval_flow -%>
    <td>
      <%- unless @item.approval_requests.empty? -%>
      <table class="approval noDesign">
        <%- @item.approval_requests.each do |approval_request| -%>
        <tr>
          <td><%= approval_request.approval_flow.approvals.map{|a|
            approvers = if a.approval_type == 'select'
              approval_request.select_assignments_label(a)
            else
              a.approvers_label
            end
            a == approval_request.current_approval ? content_tag(:span, approvers, class: 'current', style: 'background-color: #fce1de; padding: 4px;') :
                                                     content_tag(:span, approvers, style: 'padding: 4px;')
            }.join(' ＞ ').html_safe %></td>
        </tr>
        <%- end -%>
      </table>
      <%- end -%>
    </td>
    <%- else -%>
    <td><%= link_to '使用する承認フローを選択してください。', gp_article_content_settings_path %></td>
    <%- end -%>
  </tr>
</table>
<%- end -%>

<%= editable_group_view @item %>
<%= creator_view @item %>
