<%= render 'search' -%>

<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= GpArticle::Doc.human_attribute_name :title %></th>
    <th style="text-align: center; width: 120px"><%= GpArticle::Doc.human_attribute_name :name %></th>
    <th style="text-align: center; width: 150px">所属</th>
    <th style="text-align: center; width: 150px">作成者</th>
    <th style="text-align: center; width: 120px;"><%= GpArticle::Doc.human_attribute_name :updated_at %></th>
    <th style="text-align: center; width: 60px;"><%= GpArticle::Doc.human_attribute_name :state %></th>
    <th style="text-align: center; width: 60px;"><%= GpCategory::Categorization.human_attribute_name :sort_no %></th>
  </tr>

  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, gp_category_category_type_category_doc_path(content: @content,
                                                                                                   category_type_id: @category_type.id,
                                                                                                   category_id: @category.id,
                                                                                                   id: item.id) %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: left;"><%= item.name %></td>
    <td><%= item.creator.group.try(:name) %></td>
    <td><%= item.creator.user.try(:name) %></td>
    <td style="text-align: center;"><%=i18n_l item.updated_at %></td>
    <td style="text-align: center;"><%= item.status.name %></td>
    <td style="text-align: right;"><%= item.categorizations.find_by_category_id(@category.id).try(:sort_no) %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
