<%= javascript_tag do %>
$(function() {
  $('.js-date').datepicker({ dateFormat: 'yy-mm-dd' });
});
<% end %>

<%-
value_form = case @item.form_type
             when :select
               f.select(:value, @item.config_options, include_blank: true)
             when :text
               f.text_area(:value, style: 'width: 600px; height: 120px;')
             when :password
               f.password_field(:value, style: 'width: 400px;')
             when :date
               f.text_field(:value, style: 'width: 106px;', class: 'js-date')
             when :check_boxes
               f.check_boxes(:value, @item.config_options)
             when :radio_buttons
               f.radio_buttons(:value, @item.config_options)
             else
               f.text_field(:value, style: 'width: 400px;')
             end
%><%= f.hidden_field :content_id -%>

<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr>
  <tr>
    <th>設定値</th>
    <td>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.upper_text %></div>
      <%= value_form %><span style="margin-left: 10px;"><%= @item.config[:comment] %></span>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.lower_text %></div>
    </td>
  </tr>
</table>

<%- if @item.name == 'google_oauth' -%>
<table class="show">
  <tr>
    <th>クライアントID</th>
    <td><%= text_field_tag 'client_id', @item.extra_values[:client_id], size: 100 %></td>
  </tr>
  <tr>
    <th>クライアントシークレット</th>
    <td><%= text_field_tag 'client_secret', @item.extra_values[:client_secret], size: 100 %></td>
  </tr>
  <%- if (auth_url = @item.extra_values[:auth_url]).present? -%>
  <tr>
    <th>認証URL</th>
    <td><%= link_to '認証コードを取得する', auth_url, target: '_new' %></td>
  </tr>
  <tr>
    <th>認証コード</th>
    <td><%= text_field_tag 'auth_code', @item.extra_values[:auth_code], size: 100 %></td>
  </tr>
  <%- end -%>
  <%- if (oauth2_token = @item.extra_values[:oauth2_token]).kind_of?(Hash) -%>
  <tr>
    <th>トークン</th>
    <td>
      <%- oauth2_token.each do |key, value| -%>
      <%= key %>: <%= value %> <%= "(#{I18n.l(Time.at(value))})" if key == 'expires_at' %><br />
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
</table>
<%- end -%>
