<div class="calendarHolidays">

  <% @places.each do |place| %>
  <div class="location">
  <h2 class="name"><%= link_to place.title, place.public_uri %></h2>

  <div class="summary"><%=raw place.summary %></div>

  <% if place.business_hours_state == 'visible' %>
  <div class="businessHours">
  <h3><%= place.business_hours_title %></h3>

  <p><ul>
    <% place.hours.public.each do |hour| %>
    <li><span class="date"><%= safe{hour.target_date_label(@content.date_style)} %></span>
      <span class="time"><%= safe{"#{hour.business_hours_start_time.strftime(@content.time_style)}～#{hour.business_hours_end_time.strftime(@content.time_style)}"} %></span></li>
    <% end %>
  </ul></p>
  </div>
  <% end %>

  <% if place.business_holiday_state == 'visible' %>
  <div class="businessHoliday">
  <h3><%= place.business_holiday_title %></h3>

  <p><ul>
    <% place.holidays.public.each do |holiday| %>
    <li><span class="date"><%= safe{holiday.target_date_label(@content.date_style)} %></span></li>
    <% end %>
  </ul></p>
  </div>
  <% end %>

  <% @months.each do |month| %>
  <section class="month <%= month.strftime('%B').downcase %>">
  <h2><%= month.strftime('%Y年%m月') %></h2>

  <%= render 'calendar', month: month, place: place %>

  </section>
  <% end %>

  </div>
  <% end %>

</div>