<%- if @piece.upper_text.present? -%>
<div class="upper_text"><%=raw @piece.upper_text %></div>
<%- end -%>

<%- unless Page.mobile? -%>
<iframe src="<%= @target_form_public_uri %>?piece=<%= @piece.id %>&t=<%=CGI.escape Page.window_title %>&u=<%=CGI.escape Page.uri %>" style="width: 100%; height: 100%;" class="survey"></iframe>
<%- else -%>
回答ページは<%= link_to 'こちら', @target_form_public_uri %>です。
<%- end -%>

<%- if @piece.lower_text.present? -%>
<div class="lower_text"><%=raw @piece.lower_text %></div>
<%- end -%>

<%- unless Page.mobile? -%>
<%= javascript_tag do -%>
$(document).ready(function () {
  $('iframe.survey').iframeAutoHeight();
});
<%- end -%>
<%- end -%>
