<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= @category_type.title %>ID</th>
    <th><%= @category_type.title %>名</th>
    <th style="text-align: center; width: 80px;"><%= GpCategory::Category.human_attribute_name :sort_no %></th>
    <th style="text-align: center; width: 120px;"><%= GpCategory::Category.human_attribute_name :updated_at %></th>
    <th style="text-align: center; width: 60px;"><%= GpCategory::Category.human_attribute_name :state %></th>
  </tr>

  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, gp_category_category_type_category_category_path(content: @content,
                                                                                                        category_type_id: @category_type.id,
                                                                                                        category_id: @parent_category.try(:id).to_i,
                                                                                                        id: item.id) %></td>
    <td><%= item.name %></td>
    <td><%= link_to item.title, gp_category_category_type_category_categories_path(content: @content,
                                                                                   category_type_id: @category_type.id,
                                                                                   category_id: item.id) %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
    <td style="text-align: center;"><%= item.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td style="text-align: center;"><%= item.status.try(:name) %></td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>
