<%= f.hidden_field :content_id -%>

<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr>
  <tr>
    <th>設定値</th>
    <td>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.upper_text %></div>
      <%= value_form(f) %><span style="margin-left: 10px;"><%= @item.config[:comment] %></span>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.lower_text %></div>
    </td>
  </tr>
</table>

<%- if @item.name == 'category_type_style' -%>
<table class="show">
  <tr>
    <th><%= GpArticle::Doc.model_name.human %>表示形式</th>
    <td>
      <p><strong>タイトル：</strong>@title <strong>サブタイトル：</strong>@subtitle <strong>公開日時：</strong>@publish_date <strong>更新日時：</strong>@update_date <strong>概要：</strong>@summary<br />
      <strong>組織：</strong>@group <strong>カテゴリ（リンクなし）：</strong>@category <strong>カテゴリ（リンクあり）：</strong>@category_link <strong>添付画像：</strong>@image</p>
      <%= text_area_tag :category_type_doc_style, @item.extra_values[:category_type_doc_style], size: '100x10' %>
    </td>
  </tr>
  <tr>
    <th><%= GpArticle::Doc.model_name.human %>表示件数</th>
    <td>
      <%= text_field_tag :category_type_docs_number, @item.extra_values[:category_type_docs_number], class: 'number' %>
    </td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'category_style' -%>
<table class="show">
  <tr>
    <th><%= GpArticle::Doc.model_name.human %>表示形式</th>
    <td>
      <p><strong>タイトル：</strong>@title <strong>サブタイトル：</strong>@subtitle <strong>公開日時：</strong>@publish_date <strong>更新日時：</strong>@update_date <strong>概要：</strong>@summary<br />
      <strong>組織：</strong>@group <strong>カテゴリ（リンクなし）：</strong>@category <strong>カテゴリ（リンクあり）：</strong>@category_link <strong>添付画像：</strong>@image</p>
      <%= text_area_tag :category_doc_style, @item.extra_values[:category_doc_style], size: '100x10' %>
    </td>
  </tr>
  <tr>
    <th><%= GpArticle::Doc.model_name.human %>表示件数</th>
    <td>
      <%= text_field_tag :category_docs_number, @item.extra_values[:category_docs_number], class: 'number' %>
    </td>
  </tr>
</table>
<%- end -%>
