<%= init_ckeditor :readOnly => true %>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:type_id) %></th>
    <td><%= safe{@item.type.title} %></td>
  </tr><tr>
    <th><%= @item.locale(:holiday_date) %></th>
    <td><%= safe{@item.holiday_date} %></td>
  </tr><tr>
    <th>対象条件</th>
    <td>
      <table id="categories">
        <tbody>
          <tr>
            <th><%= @item.locale(:repeat_type) %></th>
            <td><%= @item.repeat_type_label %></td>
          </tr>
          <tr>
            <th><%= @item.locale(:start_date) %></th>
            <td><%= safe{@item.start_date.strftime("%Y-%m-%d")} %></td>
          </tr>
          <tr>
            <th><%= @item.locale(:end_date) %></th>
            <td><%= safe{@item.end_date.strftime("%Y-%m-%d")} %></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>

<%= creator_view @item %>
