<div class="contentMapMarkers">
  <div id="map_canvas" style="height: 350px; width: 700px;"></div>

  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&region=jp' %>
  <%= javascript_include_tag '/_common/modules/map/js/map.js' %>
  <%= javascript_tag do -%>
  var map;
  google.maps.event.addDomListener(window, 'load', function (event) {
    map = new Map('map_canvas', <%= default_latitude %>, <%= default_longitude %>);
    <%- @markers.each do |marker| -%>
      map.set_marker('<%= "#{marker.latitude}_#{marker.longitude}" %>', <%= marker.latitude %>, <%= marker.longitude %>, '<%= marker.title %>',
                     '<%=raw simple_format(marker.window_text, {}, sanitize: false).gsub(/\r|\n/, '') %>');
    <%- end -%>
  });
  <%- end -%>

  <%- unless @markers.empty? -%>
  <table>
    <tr>
      <th>カテゴリ</th>
      <th>名称</th>
      <th>地図</th>
    </tr>
    <%- @markers.each do |marker| -%>
    <tr>
      <td class="markerCategories"><%= marker.categories.map(&:title).join(', ') %></td>
      <td class="markerImage">
        <%- unless marker.files.empty?
              file = marker.files.first -%>
        <%= image_tag "#{file.parent.content.public_node.public_uri}#{file.parent.name}/file_contents/#{url_encode file.name}" %>
        <%- else -%>
        No Photo
        <%- end -%>
      </td>
      <td class="markerTitle"><%= marker.doc ? link_to(marker.title, marker.doc.public_uri) : marker.title %></td>
      <td class="marker"><%= link_to_function '表示', "map.move_to('#{marker.latitude}_#{marker.longitude}')" %></td>
    </tr>
    <%- end -%>
  </table>
  <%- end -%>

  <%= paginate @markers %>
</div>
