<%- if content.approval_content_approval_flow -%>
  <table class="show">
    <tr>
      <th><%= Approval::ApprovalFlow.model_name.human %></th>
      <td>
        <%- unless item.approval_requests.empty? -%>
        <table class="approval noDesign">
          <%- item.approval_requests.each do |approval_request| -%>
          <tr>
            <td><%= approval_request.approval_flow.approvals.map{|approval|
              approvers = if approval.select_approve?
                approval_request.select_assignments_label(approval)
              else
                approval.approvers_label
              end
              approval == approval_request.current_approval ? content_tag(:span, approvers, class: 'current', style: 'background-color: #fce1de; padding: 4px;')
                                                            : content_tag(:span, approvers, style: 'padding: 4px;')
              }.join(' ＞ ').html_safe %></td>
          </tr>
          <%- end -%>
        </table>
        <%- end -%>
      </td>
    </tr>
  </table>
  
  <%- if item.state_approvable? && item.approvers.include?(Core.user) -%>
    <%= form_tag url_for(content: content, action: 'passback') do %>
    <table class="show">
      <tr>
        <th>差し戻し</th>
        <td><%= text_area_tag :comment, nil, size: '70x5' %></td>
        <td><%= submit_tag '差し戻し', confirm: '差し戻してよろしいですか？' %></td>
      </tr>
    </table>
    <%- end -%>
  <%- end -%>
  
  <%- if item.state_approvable? && item.approval_requesters.include?(Core.user) -%>
    <%= form_tag url_for(content: content, action: 'pullback') do %>
    <table class="show">
      <tr>
        <th>引き戻し</th>
        <td><%= text_area_tag :comment, nil, size: '70x5' %></td>
        <td><%= submit_tag '引き戻し', confirm: '引き戻してよろしいですか？' %></td>
      </tr>
    </table>
    <%- end -%>
  <%- end -%>
  
  <%- unless item.approval_requests.all?{|r| r.histories.empty? } -%>
  <p class="form">履歴</p>
  
    <%- item.approval_requests.each do |approval_request| -%>
    <table class="show histories">
      <%- approval_request.histories.each do |history| -%>
      <tr>
        <th>
          <span class="reason"><%= history.reason_title %></span>
          <span class="group"><%= history.operator.group.name %></span>
          <span class="user"><%= history.operator.name %>（<%= history.operator.account %>）</span>
          <span class="date"><%=l history.updated_at %></span>
        </th>
      </tr>
      <tr>
        <td><%=simple_format history.comment.presence || 'コメントなし' %></td>
      </tr>
      <%- end -%>
    </table>
    <%- end -%>
  <%- end -%>
<%- else -%>
  <span class="note">承認フローが未設定です。使用する承認フローを設定してください。</span>
<%- end -%>
