<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :content} %>
</div>

<div class="contentMenu">
<%= link_to '記事一覧', article_docs_path %>
<% if Core.user.has_auth?(:designer) %>
<%= link_to '組織設定', article_units_path(:parent => 1) %>
<%= link_to '分野設定', article_categories_path(:parent => 0) %>
<%= link_to '属性設定', article_attributes_path %>
<%= link_to '地域設定', article_areas_path(:parent => 0) %>
<%= link_to '記事設定', article_content_settings_path %>
<% end %>
</div>
