<%-
item.build_default_inquiry
-%>

<table class="show">
<tr>
  <td>
    <%- item.inquiry_states.each do |(label, value)| -%>
      <%= radio_button_tag :inquiry_state, value, item.inquiries[0].state == value, :class => 'status' %>
      <%= label_tag :"inquiry_state_#{value}", label -%>
    <%- end -%>
  </td>
</tr>
</table>

<div id="inquiryForms">
<%- item.inquiries.each_with_index do |inquiry, i| -%>
  <%= f.fields_for :inquiries, inquiry do |f2| -%>
    <div class="inquiryForm">
    <p class="form">連絡先<%= i+1 if i != 0 %></p>
    <%= f2.hidden_field :state, :class => "inquiryState" -%>
    <%= f2.hidden_field :_destroy -%>
    <span id="inquiryTableA<%= i %>" style="<%= (Core.user.root? || Core.user.has_auth?(:manager)) ? '' : 'display: none;' %>">
    <table class="show">
      <tr>
        <th><%= f2.label :group_id -%></th>
        <td>
          <%- groups = Sys::Group.joins(:sites).where(level_no: 2).where("cms_sites.id=?", Page.site.id).order(:sort_no) -%>
          <%= f2.select_with_tree :group_id, groups, :include_blank => true %>
        </td>
      </tr>
    </table>
    </span>
    <span id="inquiryTableB<%= i %>" style="<%= (Core.user.root? || Core.user.has_auth?(:manager)) ? 'display: none;' : '' %>">
    <table class="show">
      <tr>
        <th><%= f2.label :group_id -%></th>
        <td>
          <%- group = Sys::Group.find_by_id(inquiry.group_id) || Core.user_group -%>
          <span id="inquiryGroupLabel<%= i %>"><%= safe{group.full_name} if i == 0 && !Core.user.has_auth?(:manager) or Core.user.has_auth?(:manager) or !inquiry.group_id.blank? %></span>
        </td>
      </tr>
      <%- if item.inquiry_display_field?(:charge) -%>
      <tr>
        <th><%= f2.label :charge -%></th>
        <td><%= inquiry.charge %></td>
      </tr>
      <%- end -%>
      <%- if item.inquiry_display_field?(:address) -%>
      <tr>
        <th><%= f2.label :address -%></th>
        <td><%= inquiry.address %></td>
      </tr>
      <%- end -%>
      <%- if item.inquiry_display_field?(:tel) -%>
      <tr>
        <th><%= f2.label :tel -%></th>
        <td><%= inquiry.tel %>
            <%= inquiry.tel_attend %></td>
      </tr>
      <%- end -%>
      <%- if item.inquiry_display_field?(:fax) -%>
      <tr>
        <th><%= f2.label :fax -%></th>
        <td><%= inquiry.fax %></td>
      </tr>
      <%- end -%>
      <%- if item.inquiry_display_field?(:email) -%>
      <tr>
        <th><%= f2.label :email -%></th>
        <td><%= inquiry.email %></td>
      </tr>
      <%- end -%>
      <%- if item.inquiry_display_field?(:note) -%>
      <tr>
        <th><%= f2.label :note -%></th>
        <td><%= inquiry.note %></td>
      </tr>
      <%- end -%>
    </table>
    </span>
    <%= button_tag '削除する', :type => :button, :class => 'deleteInquiry', :style => "margin: 10px 0; display: #{i == 0 ? 'none' : 'block'}" -%>
    </div>
  <%- end -%>
<%- end -%>
</div>

<hr />
<%= button_tag '連絡先を追加する', :type => :button, :id => 'addInquiryForm' -%>

<script type="text/javascript">
 $(function(){
   $(document).on('click', '.deleteInquiry', function(e) {
     if (!confirm('削除してよろしいですか？')) { return; }
     $(this).siblings('input[id$=_destroy]').val(true);
     $(this).closest('.inquiryForm').hide();
   });
   $('#addInquiryForm').on('click', function(e) {
     var no  = $('.inquiryForm').size();
     var elm = $('.inquiryForm:last').clone();
     elm.find('input, select').each(function() {
       $(this).attr({
         id: this.id.replace(/(\d+)/, no),
         name: this.name.replace(/(\d+)/, no),
         value: ''
       });
     });
     elm.find('select option').each(function() {
       $(this).attr({selected: false});
     });
     elm.find('p.form').show().html('連絡先' + String(no+1));
     elm.find('[id^=item_inquiries_attributes][id$=group_id]').show();
     elm.find('[id^=inquiryTableA]').show();
     elm.find('[id^=inquiryTableB]').hide();
     elm.find('[id^=inquiryGroupLabel]').hide();
     elm.find('.deleteInquiry').show();
     elm.show();
     $('#inquiryForms').append(elm);
   });
   $('form').on('submit', function(e) {
     var state = $('input[name=inquiry_state]:checked').val();
     if (state == undefined) { state = 'hidden'; }
     $('input.inquiryState').val(state);
   });
 });
</script>
