<%= f.hidden_field :content_id -%>

<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr>
  <tr>
    <th>設定値</th>
    <td>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.upper_text %></div>
      <%= value_form(f) %><span style="margin-left: 10px;"><%= @item.config[:comment] %></span>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.lower_text %></div>
    </td>
  </tr>
</table>

<%- if @item.name == 'approval_relation' -%>
<table class="show">
  <tr>
    <th><%= Approval::Content::ApprovalFlow.model_name.human %></th>
    <td><%= select_tag 'approval_content_id',
                       options_from_collection_for_select(Approval::Content::ApprovalFlow.all, :id, :name, @item.extra_values[:approval_content_id]),
                       include_blank: true %></td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'auto_reply' -%>
<table class="show">
  <tr>
    <th>自動返信テキスト（上部）</th>
    <td><%= text_area_tag :upper_reply_text, @item.extra_values[:upper_reply_text], size: '100x10' %></td>
  </tr>
  <tr>
    <th>自動返信テキスト（下部）</th>
    <td><%= text_area_tag :lower_reply_text, @item.extra_values[:lower_reply_text], size: '100x10' %></td>
  </tr>
</table>
<%- end -%>
