<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta charset="UTF-8" />
  <title><%= Core.title %></title>
  <!--[if lt IE 9]><script src="/_common/js/html5.js"></script><![endif]-->
  <%#= stylesheet_link_tag    'application' %>
  <%#= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/_common/js/jquery.min.js' %>
  <%= javascript_include_tag '/_common/js/jquery_ujs.js' %>
  <%= stylesheet_link_tag '/_common/css/jquery-ui-themes/smoothness/jquery-ui.min.css' %>
  <%= javascript_include_tag '/_common/js/jquery-ui.min.js' %>
  <%= stylesheet_link_tag '/_common/themes/admin/style.css' %>
  <%= javascript_include_tag '/_common/js/zomeki_admin/form.js' %>
  <%= javascript_include_tag '/_common/js/zomeki_admin/navi.js' %>
  <%= csrf_meta_tags %>
</head>
<body id="errorPage">
  <div id="container">
    <div id="header">
      <div id="headerContainer">
        <h1><a href="/<%= ZomekiCMS::ADMIN_URL_PREFIX %>">ZOMEKI</a></h1>
        <div class="menu">
          <span class="user"><%= safe{Core.user_group.name} %> <%= safe{Core.user.name_with_account} %></span>
          <a class="logout" href="/<%= ZomekiCMS::ADMIN_URL_PREFIX %>/logout">ログアウト</a>
        </div>
      <!-- /#headerContainer --></div>
    <!-- /#header --></div>
    <div id="banner">
      <div id="bannerContainer">
      <!-- /#bannerContainer --></div>
    <!-- /#banner --></div>
    <div id="navi">
      <div id="naviContainer">
        <table><tr><td class="selector"><br /></td></tr></table>
      <!-- /#navigationContainer --></div>
    <!-- /#navi --></div>
    <div id="main">
      <div id="content">
        <div id="contentContainer">
          <div id="contentHeader"></div>
          <div id="contentBody">
            <%= yield %>
          </div>
          <div id="contentFooter"></div>
        <!-- /#contentContainer --></div>
      <!-- /#content --></div>
    <!-- /#main --></div>
    <div id="footer">
      <div id="footerContainer">
        <%#= :footer %>
      <!-- /#footerContainer --></div>
    <!-- /#footer --></div>
  <!-- /#container --></div>
</body>
</html>
