<%-
value_form = case @item.form_type
             when :select
               f.select(:value, @item.config_options, include_blank: true)
             when :text
               f.text_area(:value, style: 'width: 600px; height: 120px;')
             when :check_boxes
               f.check_boxes(:value, @item.config_options)
             else
               f.text_field(:value, style: 'width: 400px;')
             end
%><%= f.hidden_field :content_id -%>

<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr>
  <tr>
    <th>設定値</th>
    <td>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.upper_text %></div>
      <%= value_form %><span style="margin-left: 10px;"><%= @item.config[:comment] %></span>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.lower_text %></div>
    </td>
  </tr>
</table>

<%- if @item.name == 'gp_category_content_category_type_id'
      content = GpCategory::Content::CategoryType.find_by_id(@item.value)
      category_types = content.try(:category_types) || []
      category_types_for_option = content.try(:category_types_for_option) || []

      ct_ids = @item.category_type_ids
      vct_ids = @item.visible_category_type_ids
      default_category_type_id = @item.default_category_type_id
      default_categories_for_option = category_types.detect{|ct| ct.id == default_category_type_id }.try(:categories_for_option) || []
      default_category_id = @item.default_category_id
    -%>
<table class="show">
  <tr>
    <th>利用<%= GpCategory::CategoryType.model_name.human %></th>
    <td id="category_types">
      <%- category_types.each do |ct| -%>
      <span class="category_type"><%= check_box_tag "ct_#{ct.id}", ct.id, ct_ids.include?(ct.id), name: 'category_types[]' -%> <%= label_tag "ct_#{ct.id}", "#{ct.title}(#{ct.name})" -%></span>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th>表示<%= GpCategory::CategoryType.model_name.human %></th>
    <td id="visible_category_types">
      <%- category_types.each do |ct| -%>
      <span class="visible_category_type"><%= check_box_tag "vct_#{ct.id}", ct.id, vct_ids.include?(ct.id), name: 'visible_category_types[]' -%> <%= label_tag "vct_#{ct.id}", "#{ct.title}(#{ct.name})" -%></span>
      <%- end -%>
    </td>
  </tr>
</table>

<br />
<p class="form">初期値</p>

<table class="show">
  <tr>
    <th><%= GpCategory::CategoryType.model_name.human %></th>
    <td><%= select_tag 'default_category_type', options_for_select(category_types_for_option, default_category_type_id), include_blank: true %></td>
    <th><%= GpCategory::Category.model_name.human %></th>
    <td><%= select_tag 'default_category', options_for_select(default_categories_for_option, default_category_id), include_blank: true %></td>
  </tr>
</table>

<%= javascript_tag do -%>
$(document).ready(function () {
  $('#item_value').on('change', function (event) {
    var content_id = parseInt(event.target.value);
    if (isNaN(content_id)) {
      $('#category_types').html('');
      $('#visible_category_types').html('');
      $('#default_category_type').html('<option value=""></option>');
      $('#default_category').html('<option value=""></option>');
    } else {
      $('#category_types').html('更新中...');
      $('#visible_category_types').html('更新中...');
      $('#default_category_type').html('<option value="">更新中...</option>');
      $('#default_category').html('<option value=""></option>');
      $.get('<%= gp_category_category_types_path(content: 'CONTENT_ID') %>?check_boxes=true'.replace('CONTENT_ID', content_id), function (data) {
        $('#category_types').html(data);
        $('#visible_category_types').html(data.replace(/"category_type/g, '"visible_category_type').replace(/"ct_/g, '"vct_'));
      });
      $.get('<%= gp_category_category_types_path(content: 'CONTENT_ID') %>?options=true'.replace('CONTENT_ID', content_id), function (data) {
        $('#default_category_type').html(data);
      });
    }
  });

  $('#default_category_type').on('change', function (event) {
    var content_id = parseInt($('#item_value').val());
    var category_type_id = NaN;
    if (isFinite(content_id)) { category_type_id = parseInt(event.target.value); }
    if (isNaN(category_type_id)) {
      $('#default_category').html('<option value=""></option>');
    } else {
      $('#default_category').html('<option value="">更新中...</option>');
      $.get('<%= gp_category_category_type_categories_path(content: 'CONTENT_ID', category_type_id: 'CATEGORY_TYPE_ID') %>?options=true'.replace('CONTENT_ID', content_id)
                                                                                                                                        .replace('CATEGORY_TYPE_ID', category_type_id), function (data) {
        $('#default_category').html(data);
      });
    }
  });

  $('#category_types input[type="checkbox"]').on('click', function (event) {
    if (!event.target.checked) { $('#' + event.target.id.replace('ct_', 'vct_')).removeAttr('checked'); }
  });
  $('#visible_category_types input[type="checkbox"]').on('click', function (event) {
    if (event.target.checked) { $('#' + event.target.id.replace('vct_', 'ct_')).attr('checked', 'checked'); }
  });
});
<%- end -%>
<%- end -%>
