<%-
value_form = case @item.form_type
             when :select
               f.select(:value, @item.config_options, include_blank: true)
             when :text
               f.text_area(:value, style: 'width: 600px; height: 120px;')
             else
               f.text_field(:value, style: 'width: 400px;')
             end
%><%= f.hidden_field :content_id -%>

<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr>
  <tr>
    <th>設定値</th>
    <td>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.upper_text %></div>
      <%= value_form %><span style="margin-left: 10px;"><%= @item.config[:comment] %></span>
      <div style="margin: 5px; line-height: 1.2;"><%= @item.lower_text %></div>
    </td>
  </tr>
</table>

<%- if @item.name == 'gp_category_content_category_type_id'
      category_types = GpCategory::Content::CategoryType.find_by_id(@item.value).try(:category_types) || []
      ct_ids = (@item.extra_value || '').split(',') -%>
<table class="show">
  <tr>
    <th>&nbsp;</th>
    <td id="category_types">
      <%- category_types.each do |ct| -%>
      <span class="category_type"><%= check_box_tag "ct_#{ct.id}", ct.id, ct_ids.include?(ct.id.to_s), name: 'category_types[]' -%> <%= label_tag "ct_#{ct.id}", "#{ct.title}(#{ct.name})" -%></span>
      <%- end -%>
    </td>
  </tr>
</table>

<%= javascript_tag do -%>
$(document).ready(function () {
  $('#item_value').on('change', function (event) {
    var content_id = parseInt(event.target.value);
    if (isNaN(content_id)) {
      $('#category_types').html('');
    } else {
      $('#category_types').html('更新中...');
      $.get('<%= gp_category_category_types_path(content: 'CONTENT_ID') %>?check_boxes=true'.replace('CONTENT_ID', content_id), function (data) {
        $('#category_types').html(data);
      });
    }
  });
});
<%- end -%>
<%- end -%>
