<table class="index">
  <tr>
    <th><%= AdBanner::Click.human_attribute_name :referer %></th>
    <th><%= AdBanner::Click.human_attribute_name :remote_addr %></th>
    <th><%= AdBanner::Click.human_attribute_name :user_agent %></th>
    <th><%= AdBanner::Click.human_attribute_name :created_at %></th>
  </tr>

  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: left;"><%= link_to item.referer, item.referer, target: '_blank' %></td>
    <td style="text-align: left; width: 100px;"><%= item.remote_addr %></td>
    <td style="text-align: left;"><%= item.user_agent %></td>
    <td style="text-align: left; width: 150px;"><%=i18n_l item.created_at %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
