<%= render :partial => 'search' %>

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 35%;">ファイルパス</th>
    <th style="width: ;">タイトル</th>
    <th style="width: 120px; text-align: center;">更新日時</th>
    <th style="width: 60px; text-align: center;">状態</th>
    <th style="width: 65px; text-align: center;">プレビュー</th>
  </tr>
  
  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, item.admin_uri %></td>
    <td><%= truncate(item.public_uri, :length => 40) %></td>
    <td><%= truncate(item.title, :length => 30) %></td>
    <td style="text-align: center;"><%= safe{item.updated_at.strftime('%Y-%m-%d %H:%M')} %></td>
    <td style="text-align: center;"><%= safe{item.status.name} %></td>
    <td style="text-align: center;"><%= link_to '表示', item.preview_uri, :target => '_blank' %></td>
  </tr>
  <% end %>

</table>
<%= paginate @items %>
