<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.try(:name) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
