<div class="calendarEvents calendarMonthlyEvents">
  <h2><%= @date.year %>年<%= @date.month %>月</h2>

  <%= render 'gp_calendar/public/node/shared/pagination', extra_css: 'upperPagination' %>

  <%- unless @events.empty? -%>
  <table border="1">
    <tbody>
      <%- @events.each do |event| -%>
      <tr>
        <%- if @content.show_images? -%>
        <td class="image">
          <%- if event.image_files.empty? -%>
            <%- if @content.default_image.blank? -%>
              画像がありません。
            <%- else -%>
              <%= image_tag @content.default_image %>
            <%- end -%>
          <%- else -%>
            <p class="thumb">
              <%- if event.doc.nil? %>
                <%- file = event.files.first -%>
              <%- else -%>
                <%- if event.doc.list_image.present? -%>
                  <%- file = event.files.select {|f| f.id == event.doc.list_image.to_i}.first || event.files.first -%>
                <%- else -%>
                  <%- event.files.each do |f| -%>
                    <%- file = f and break if event.doc.body.include?("file_contents/#{url_encode f.name}") -%>
                  <%- end -%>
                <%- end  -%>
              <%- end  -%>
              <%- if file -%>
                <%= image_tag "#{file.parent.content.public_node.public_uri}#{file.parent.name}/file_contents/#{url_encode file.name}" %>
              <%- else -%>
                <%- if @content.default_image.blank? -%>
                  画像がありません。
                <%- else -%>
                  <%= image_tag @content.default_image %>
                <%- end -%>
              <%- end -%>
              <%- topfile = file -%>

              <%- event.insert_files.each do |file| -%>
              <%= image_tag "#{file.parent.content.public_node.public_uri}#{file.parent.name}/file_contents/#{url_encode file.name}" if topfile.blank? || file.name != topfile.name %>
              <%- end -%>

            </p>
          <%- end -%>
        </td>
        <%- end -%>
        <td id="<%= 'day%02d' % event.started_on.day if event.started_on.month == @date.month %>" class="date">
          <%= render 'gp_calendar/public/shared/event_date', event: event, date_style: @content.date_style %>
        </td>
        <td class="event">
          <%= render 'gp_calendar/public/shared/event_list', event: event, list_style: @content.list_style %>
          <%- unless event.categories.empty? -%>
          <p class="category">
            <%- event.categories.each do |category| -%>
            <span class="category<%= category.name.capitalize %>"><%= category.title %></span>
            <%- end -%>
          </p>
          <%- end -%>
          <%=simple_format event.description, class: 'summary' if event.description.present? %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
  <%- end -%>

  <%= render 'gp_calendar/public/node/shared/pagination', extra_css: 'lowerPagination' %>
<!-- end .calendarEvents --></div>
