<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= Gnav::MenuItem.human_attribute_name :name %></th>
    <th><%= Gnav::MenuItem.human_attribute_name :title %></th>
    <th style="text-align: center; width: 60px;"><%= Gnav::MenuItem.human_attribute_name :sort_no %></th>
    <th style="text-align: center; width: 120px;"><%= Gnav::MenuItem.human_attribute_name :updated_at %></th>
    <th style="text-align: center; width: 60px;"><%= Gnav::MenuItem.human_attribute_name :state %></th>
  </tr>

  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, gnav_menu_item_path(content: @content, id: item.id) %></td>
    <td><%= item.name %></td>
    <td><%= item.title %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
    <td style="text-align: center;"><%= item.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td style="text-align: center;"><%= item.status.try(:name) %></td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>
