<table class="show">
  <tr>
    <th><%= f.label :name %> <span class="note">※</span></th>
    <td><%= f.text_field :name, :class => 'id' %></td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th><%= f.label :more %></th>
    <td><%= f.text_field :more %></td>
  </tr>
  <tr>
    <th>条件</th>
    <td>
      <table class="noDesign">
        <tr>
          <td><%= f.label :condition %></td>
          <td><%= f.radio_buttons :condition, @item.class::CONDITION_OPTIONS %></td>
        </tr>
        <tr>
          <td>表示カテゴリ</td>
          <td>
            <table id="categories">
              <tbody>
                <%= render 'category', category_types_for_option: @piece.category_types_for_option, layers_for_option: @item.class::LAYER_OPTIONS,
                                       index: nil, layer: @item.class::LAYER_OPTIONS.first.last, category: nil, available: false -%>
                <%- @item.categories_with_layer.each_with_index do |category_with_layer, index| -%>
                <%= render 'category', category_types_for_option: @piece.category_types_for_option, layers_for_option: @item.class::LAYER_OPTIONS,
                                       index: index, layer: category_with_layer[:layer], category: category_with_layer[:category], available: true -%>
                <%- end -%>
                <tr>
                  <td colspan="2">&nbsp;</td>
                  <td style="text-align: right;"><div style="margin-top: -55px;"><%= button_tag '追加', type: 'button', id: 'add_categories_line' %></div></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %> <span class="note">※</span></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
</table>

<%= javascript_tag do -%>
$(document).ready(function () {
  <%= disable_enter_script -%>

  $('#categories > tbody > tr > td.category_type > select').on('change', function (event) {
    var category_type_id = parseInt(event.target.value);
    var category_select = $(event.target).closest('tr').find('td.category > select');
    if (isNaN(category_type_id)) {
      category_select.html('<option value=""></option>');
    } else {
      category_select.html('<option value="">更新中...</option>');
      $.get('<%= gp_category_category_type_categories_path(content: @piece.content, category_type_id: 'CATEGORY_TYPE_ID') %>?options=true'.replace('CATEGORY_TYPE_ID', category_type_id), function (data) {
        category_select.html(data);
      });
    }
  });

  $('#add_categories_line').on('click', function () {
    var categories_tbody = $('#categories > tbody');
    var next_index = (categories_tbody.find('tr').length - 3) / 2; <%# コピー元(2) + 追加ボタン(1) = 3tr, 単位 = 2tr %>

    var layers_tr = categories_tbody.find('tr:first-child').clone(true);
    var layers = layers_tr.find('input[name="layers[N]"]');
    layers.attr('name', layers.attr('name').replace('N', next_index));
    layers_tr.insertBefore(categories_tbody.find('tr:last-child')).show();

    var categories_tr = categories_tbody.find('tr:first-child + tr').clone(true);
    var categories = categories_tr.find('select[name="categories[N]"]');
    categories.attr('name', categories.attr('name').replace('N', next_index));
    categories_tr.insertBefore(categories_tbody.find('tr:last-child')).show();

    categories_tbody.find('tr:visible').each(function (index, tr) {
      $(tr).find(':disabled').removeAttr('disabled');
    });
  }).trigger('click');
});
<%- end -%>
