<%= render(layout: 'gp_article/admin/piece/shared/form', locals: {f: f}) do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :docs_number %></th>
    <td><%= f.array_text_field 'in_settings[docs_number]', class: 'number' %></td>
  </tr>
  <tr>
    <th><%= @item.locale :docs_order %></th>
    <td><%= f.array_select 'in_settings[docs_order]', @item.class::DOCS_ORDER_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= @item.locale :doc_style %></th>
    <td>
      <%= link_to_function '置き換えテキストを確認する', "$('#doc_style_tags').dialog({width: 400});" %>
      <%= f.array_text_area 'in_settings[doc_style]', size: '100x10' %>
    </td>
  </tr>
  <tr>
    <th><%= @item.locale :date_style %></th>
    <td><%= f.array_text_field 'in_settings[date_style]', size: 50 %> 年：%Y 月：%m 日：%d 時：%H 分：%M 秒：%S</td>
  </tr>
  <tr>
    <th><%= @item.locale :more_link_body %></th>
    <td><%= f.array_text_field 'in_settings[more_link_body]', :style => 'width: 500px;' %></td>
  </tr>
  <tr>
    <th><%= @item.locale :more_link_url %></th>
    <td><%= f.array_text_field 'in_settings[more_link_url]', :style => 'width: 500px;' %></td>
  </tr>
  <tr>
    <th><%= @item.locale :impl %></th>
    <td><%= f.array_radio_buttons 'in_settings[impl]', @item.class::IMPL_OPTIONS %></td>
  </tr>
</table>
<%- end -%>

<%= render 'gp_article/admin/shared/doc_style_tags' %>
