<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.radio_buttons :state, @item.class::STATE_OPTIONS, :class => 'status' %></td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'title' %></td>
  </tr>
  <tr>
    <th><%= f.label :body %></th>
    <td><%= f.text_area :body, :class => 'body' %></td>
  </tr>
  <tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'number' %></td>
  </tr>
</table>

<%= creator_form f %>
