<div class="calendarEvents calendarTodayEvents">
  <h2 class="today"><span class="date"><%= @today.strftime("%Y年%-m月%-d日(#{localize_wday('%a', @today.wday)})") %></span>
  <%- if @content.setting_value(:show_qreki) == "1" -%>
  <span class="qreki"><%= qreki(@today) %></span>
  <%- end -%>
  </h2>

  <%- @holidays.each do |holiday| -%>
  <div class="<%= holiday.kind %>">
  <p class="title"><%= holiday.title %></p>
  <p class="summary"><%= holiday.description %></p>
  </div>
  <%- end -%>

  <%- unless @events.empty? -%>
    <%- @event_categories.each do |category| -%>
      <%= render 'category', category: category %>
    <%- end -%>
    <%= render 'category', category: nil %>
  <%- else -%>
    本日のイベントはありません。
  <%- end -%>
<!-- end .calendarEvents --></div>
