<div class="calendarEvents calendarTodayEvents">
  <h2><%=i18n_l @today, :default_ja %></h2>

  <table>
    <%- @events.each do |event| -%>
    <tr>
      <td>
        <%- if event.files.empty? -%>
          No Photo
        <%- else -%>
          <%- event.files.each do |file| next unless file.image_file? -%>
          <%= image_tag "#{@content.event_node.public_uri}#{event.name}/file_contents/#{url_encode file.name}", width: 200 %><br />
          <%- end -%>
        <%- end -%>
      </td>
      <td>
        <%- if event.started_on == event.ended_on -%>
          <%=i18n_l event.started_on, :long_ja %>
        <%- else -%>
          <%=i18n_l event.started_on, :long_ja %> ～ <%=i18n_l event.ended_on, :long_ja %>
        <%- end -%>
      </td>
      <td>
        <h3><%= link_to_if event.href.present?, event.title, event.href, target: event.target %> <%= event.categories.map(&:title).join(', ') %></h3>
        <p><%=simple_format event.description %></p>
      </td>
    </tr>
    <%- end -%>
  </table>

  <%- unless @content.public_categories.empty? -%>
  <div class="level1">
    <%- @content.public_categories.each do |category| -%>
    <section class="category <%= category.name -%><%= cycle '', ' cycle' %>">
    <h3><%= link_to category.title, "?category=#{category.category_type.name}/#{category.path_from_root_category}" %></h3>

      <%- unless category.public_children.empty? -%>
      <ul class="level<%= category.level_no + 1 -%>">
        <%- category.public_children.each do |child| -%>
        <li class="<%= child.name -%>"><%= link_to child.title, "?category=#{category.category_type.name}/#{child.path_from_root_category}" %></li>

          <%- unless child.public_children.empty? -%>
          <ul class="level<%= child.level_no + 1 -%>">
            <%- child.public_children.each do |grandchild| -%>
            <li class="<%= grandchild.name -%>"><%= link_to grandchild.title, "?category=#{category.category_type.name}/#{grandchild.path_from_root_category}" %></li>
            <%- end -%>
          </ul>
          <%- end -%>
        <%- end -%>
      </ul>
      <%- end -%>
    </section>
    <%- end -%>
  </div>
  <%- end -%>
<!-- end .calendarEvents --></div>
