<%- inline_id = @item.id || params[:_tmp].presence || Util::Sequencer.next_id(:tmp, md5: true) -%>

<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td colspan="2"><%= f.radio_buttons :state, @item.class::STATE_OPTIONS, :class => 'status' %></td>
  </tr>
  <tr>
    <th><%= f.label :started_on %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :started_on, :value => value_for_datepicker(f.object_name, :started_on),
                                                  :style => 'width: 150px;', :class => 'datepicker' %></td>
  </tr>
  <tr>
    <th><%= f.label :ended_on %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :ended_on, :value => value_for_datepicker(f.object_name, :ended_on),
                                                :style => 'width: 150px;', :class => 'datepicker' %></td>
  </tr>
  <tr>
    <th><%= f.label :name %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :name, :style => 'width: 700px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :href %></th>
    <td><%= f.text_field :href, :style => 'width: 500px;' %></td>
    <td><%= f.radio_buttons :target, @item.class::TARGET_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td colspan="2"><%= f.text_area :description, :size => '100x3', :style => 'width: 700px;' %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th><%= GpCategory::Category.model_name.human %></th>
    <td>
      <div id="categories">
        <%= render 'category', category: nil, categories_for_option: @content.categories_for_option %>
        <%- @item.categories.each do |category| -%>
        <%= render 'category', category: category, categories_for_option: @content.categories_for_option %>
        <%- end -%>
        <span><%= button_tag '追加', type: 'button', id: 'add_category' %></span>
      </div>
    </td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>添付ファイル</th>
    <td><%= link_to_function '開く▼', "toggle_form(this, '#inline_files')" %></td>
  </tr>
</table>

<div id="inline_files" style="display: none;">
  <%= hidden_field_tag :_tmp, inline_id %>
  <iframe src="<%= gp_calendar_event_files_path(@content, inline_id) %>" style="width: 100%; height: 400px;"></iframe>
</div>

<%= creator_form f %>

<%= javascript_tag do -%>
<%= toggle_form_function -%>

$(document).ready(function () {
  <%= enable_datepicker_script -%>

  $('#add_category').on('click', function () {
    var categories_wrapper = $('#categories');
    var new_category = categories_wrapper.children(':first-child').clone(true);
    new_category.find(':disabled').removeAttr('disabled');
    new_category.insertBefore(categories_wrapper.children(':last-child')).show();
  }).trigger('click');
});
<%- end -%>
