<%- inline_id = @item.id || params[:_tmp].presence || Util::Sequencer.next_id(:tmp, md5: true) -%>

<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td colspan="2"><%= f.radio_buttons :state, @item.class::STATE_OPTIONS, :class => 'status' %></td>
  </tr>
  <tr>
    <th><%= f.label :started_on %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :started_on, :value => value_for_datepicker(f.object_name, :started_on),
                                                  :style => 'width: 150px;', :class => 'datepicker' %></td>
  </tr>
  <tr>
    <th><%= f.label :ended_on %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :ended_on, :value => value_for_datepicker(f.object_name, :ended_on),
                                                :style => 'width: 150px;', :class => 'datepicker' %></td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :title, :style => 'width: 700px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :href %></th>
    <td><%= f.text_field :href, :style => 'width: 500px;' %></td>
    <td><%= f.radio_buttons :target, @item.class::TARGET_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td colspan="2"><%= f.text_area :description, :size => '100x3', :style => 'width: 700px;' %></td>
  </tr>
</table>

<%- unless @content.category_types.empty? -%>
<table class="show">
  <%- @content.category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td>
      <div id="category_type_<%= category_type.id %>_categories">
        <%= render 'category', category_type: category_type, category: nil,
                               categories_for_option: @content.category_type_categories_for_option(category_type) %>
        <%- @item.categories.where(category_type_id: category_type.id).each do |category| -%>
        <%= render 'category', category_type: category_type, category: category,
                               categories_for_option: @content.category_type_categories_for_option(category_type) %>
        <%- end -%>
        <span><%= button_tag '追加', type: 'button', id: "add_category_type_#{category_type.id}_category" %></span>
      </div>
    </td>
  </tr>
  <%- end -%>
</table>
<%- end -%>

<table class="show">
  <tr>
    <th>添付ファイル</th>
    <td><%= link_to_function '開く▼', "toggle_form(this, '#inline_files')" %></td>
  </tr>
</table>

<div id="inline_files" style="display: none;">
  <%= hidden_field_tag :_tmp, inline_id %>
  <iframe src="<%= gp_calendar_event_files_path(@content, inline_id) %>" style="width: 100%; height: 400px;"></iframe>
</div>

<%- if @content.event_sync_import? -%>
<p class="form">同期元情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_host %></th>
    <td><%= @item.sync_source_host %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_content_id %></th>
    <td><%= @item.sync_source_content_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_id %></th>
    <td><%= @item.sync_source_id %></td>
  </tr>
</table>
<%- end -%>

<%= creator_form f %>

<%= javascript_tag do -%>
<%= toggle_form_function %>

function set_copy_date(from, to) {
  $(from).on('change', function () {
    if ($(to).val() === '') { $(to).val($(from).val()); }
  });
}

function set_click_event_handler(category_type_id) {
  $('#add_category_type_' + category_type_id + '_category').on('click', function () {
    var categories_wrapper = $('#category_type_' + category_type_id + '_categories');
    var new_category = categories_wrapper.children(':first-child').clone(true);
    new_category.find(':disabled').removeAttr('disabled');
    new_category.insertBefore(categories_wrapper.children(':last-child')).show();
  }).trigger('click');
}

$(document).ready(function () {
  <%= enable_datepicker_script %>

  set_copy_date('#item_started_on', '#item_ended_on');
  set_copy_date('#item_ended_on', '#item_started_on');

  <%- @content.category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>');
  <%- end -%>
});
<%- end -%>
