<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :started_on %></th>
    <td><%=i18n_l @item.started_on %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :ended_on %></th>
    <td><%=i18n_l @item.ended_on %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :href %></th>
    <td>
      <%= link_to @item.href, @item.href, target: '_blank' %>
      <%- if @item.href.present? -%>
      <span style="margin-left: 10px;"><%= @item.class::TARGET_OPTIONS.detect{|to| to.last == @item.target }.try(:first) %></span>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%=simple_format @item.description %></td>
  </tr>
</table>

<%- unless @item.categories.empty? -%>
<table class="show">
  <tr>
    <th><%= GpCategory::Category.model_name.human %></th>
    <td><%= @item.categories.map(&:title).join(', ') %></td>
  </tr>
</table>
<%- end -%>

<%- unless @item.files.empty? -%>
<table class="show">
  <tr>
    <th>添付ファイル</th>
    <td><%= link_to_function '開く▼', "toggle_form(this, '#inline_files')" %></td>
  </tr>
</table>

<div id="inline_files" style="display: none;">
<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">番号</th>
    <th style="width: 90px; text-align: center;">サムネイル</th>
    <th>添付ファイル</th>
    <th style="width: 120px; text-align: center;">サイズ（幅x高さ）</th>
  </tr>

  <% @item.files.each do |file| %>
    <%- file_content_relative_path = "file_contents/#{file.escaped_name}"
      file_content_path = "#{gp_calendar_event_path(@content, id: @item.id)}/#{file_content_relative_path}" -%>
  <tr>
    <td style="text-align: right;"><%= file.id %></td>
    <td style="text-align: center;">
      <% if file.image_file? %>
        <%= link_to image_tag(file_content_path, style: file.reduced_size(width: 80, height: 40, css: true)), file_content_path, target: '_blank' %>
      <% else %>
        <%= link_to 'File', file_content_path, class: file.css_class %>
      <% end %>
    </td>
    <td><span class="file_name" file_name="<%= file.name %>"><%= file.name %></span></td>
    <td style="text-align: center;"><%= file.eng_unit %><br /><%= file.image_size %></td>
  </tr>
  <% end %>
</table>
</div>

<%= javascript_tag do -%>
<%= toggle_form_function -%>
<%- end -%>
<%- end -%>

<%- if @content.event_sync_import? -%>
<p class="form">同期元情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_host %></th>
    <td><%= @item.sync_source_host %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_content_id %></th>
    <td><%= @item.sync_source_content_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_id %></th>
    <td><%= @item.sync_source_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_source_class %></th>
    <td><%= @item.sync_source_source_class.constantize.model_name.human rescue nil %></td>
  </tr>
</table>
<%- end -%>

<%= creator_view @item %>
