<h2><%= @content.name %><%= sub ? " ： #{sub}" : '' %></h2>

<div class="actionMenu">
  <%= action_menu :new %>
  <%= action_menu :index, index_path %>
  <%= action_menu :show %>
  <%= action_menu :edit if @item.try(:editable?) %>
  <%= action_menu :destroy if @item.try(:deletable?) %>
</div>
