<%- item = instance_variable_get("@#{f.object_name}") -%>

<%= init_ckeditor :baseHref => '' %>

<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'title', :style => 'width: 500px;' %></td>
  </tr>
</table>

<br /><p class="form">リンク設定</p>
<div class="toggle" style="margin: 10px;">
  <%= javascript_tag do %>
    function toggleForm(link, target, openLabel, closeLabel) {
      if (openLabel === undefined) openLabel = '開く▼';
      if (closeLabel === undefined) closeLabel = '閉じる▲';
      var l = jQuery(link);
      var t = jQuery(target);
      if (t.is(':hidden')) {
        l.html(closeLabel);
      } else {
        l.html(openLabel);
      }
      t.slideToggle();
    }
  <% end %>
  <%= link_to_function '開く▼', "toggleForm(this, '#linkSettings')" %>
</div>
<div id="linkSettings" style="display: none;">
  <table class="show">
    <tr>
      <th><%= f.label :href %></th>
      <td><%= f.text_field :href, :style => 'width: 500px;' %></td>
      <td><%= f.radio_buttons :target, GpArticle::Doc::TARGET_OPTIONS %></td>
    </tr>
    <tr>
      <th><%= f.label :subtitle %></th>
      <td colspan="2"><%= f.text_field :subtitle, :style => 'width: 750px;' %></td>
    </tr>
    <tr>
      <th><%= f.label :summary %></th>
      <td colspan="2"><%= f.text_field :summary, :style => 'width: 750px;' %></td>
    </tr>
  </table>
</div><br />

<table class="show">
  <tr>
    <th colspan="2"><%= f.label :body %> <span class="note">※</span></th>
  </tr>
  <tr>
    <td colspan="2" class="cke_editor_wrapper"><%= f.text_area :body, :class => 'body ckeditor' %></td>
  </tr>
  <%- @category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td>
      <table id="category_type_<%= category_type.id %>_categories" class="noDesign">
        <tbody>
          <%= render 'category', category_type: category_type, category: category_type.categories.build, available: false -%>
          <%- item.categories.where(category_type_id: category_type.id).each do |category| -%>
            <%= render 'category', category_type: category_type, category: category, available: true %>
          <%- end -%>
          <tr>
            <td>&nbsp;</td>
            <td style="text-align: right;"><div style="margin-top: -55px;"><%= button_tag '追加', type: 'button', id: "add_category_type_#{category_type.id}_categories_line" %></div></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <%- end -%>
</table>

<%= javascript_tag do -%>
function set_click_event_handler(category_type_id) {
  $('#add_category_type_' + category_type_id + '_categories_line').on('click', function () {
    var categories_tbody = $('#category_type_' + category_type_id + '_categories > tbody');
    categories_tbody.find('tr:first-child').clone(true).insertBefore(categories_tbody.find('tr:last-child')).show();
    categories_tbody.find('tr:visible').each(function (idx, tr) {
      $(tr).find(':disabled').removeAttr('disabled');
    });
  }).trigger('click');
}

$(document).ready(function () {
  $('form').keypress(function (event) { if (event.target.type !== 'textarea' && event.which === 13) return false; });

  <%- @category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>');
  <%- end -%>
});
<%- end -%>
