<%- item = instance_variable_get("@#{f.object_name}") -%>
<table class="show">
  <tr>
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th><%= f.label :body %></th>
    <td><%= f.text_area :body %></td>
  </tr>
  <%- @category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td>
      <table id="category_type_<%= category_type.id %>_categories" class="noDesign">
        <tbody>
          <%= render 'category', category_type: category_type, category: category_type.categories.build, available: false -%>
          <%- item.categories.where(category_type_id: category_type.id).each do |category| -%>
            <%= render 'category', category_type: category_type, category: category, available: true %>
          <%- end -%>
          <tr>
            <td>&nbsp;</td>
            <td style="text-align: right;"><div style="margin-top: -55px;"><%= button_tag '追加', type: 'button', id: "add_category_type_#{category_type.id}_categories_line" %></div></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <%- end -%>
</table>

<%= javascript_tag do -%>
function set_click_event_handler(category_type_id) {
  $('#add_category_type_' + category_type_id + '_categories_line').on('click', function () {
    var categories_tbody = $('#category_type_' + category_type_id + '_categories > tbody');
    categories_tbody.find('tr:first-child').clone(true).insertBefore(categories_tbody.find('tr:last-child')).show();
    categories_tbody.find('tr:visible').each(function (idx, tr) {
      $(tr).find(':disabled').removeAttr('disabled');
    });
  }).trigger('click');
}

$(document).ready(function () {
  <%- @category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>');
  <%- end -%>
});
<%- end -%>
