<div class="contentGpCategoryCategory">
  <%- unless @category.public_children.empty? -%>
  <section class="categoryType categories">
    <h2><%= @category.title %></h2>
    <nav>
      <ul>
        <%- @category.public_children.each do |child| -%>
        <li class="category<%= child.name.try(:camelize) %>"><%= link_to child.title, child.public_uri %></li>
        <%- end -%>
      </ul>
    </nav>
  </section>
  <%- end -%>

  <%- unless @docs.empty? -%>
  <section class="categoryType docs">
    <h2>記事一覧</h2>
    <%- if @content.feed_display? -%>
    <ul class="feed">
      <li><%= link_to 'RSS' , "index.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
      <li><%= link_to 'Atom', "index.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
    </ul>
    <%- end -%>
    <ul>
      <%- @docs.each do |doc| -%>
      <li><%= render 'gp_article/public/shared/doc', doc: doc, list_style: @content.list_style, date_style: @content.date_style %></li>
      <%- end -%>
    </ul>
  </section>
  <%- end -%>

  <%= paginate @docs %>
</div>
