<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th>サムネイル</th>
    <th>グループ</th>
    <th><%= AdBanner::Banner.human_attribute_name :advertiser %></th>
    <th><%= AdBanner::Banner.human_attribute_name :published_at %></th>
    <th><%= AdBanner::Banner.human_attribute_name :closed_at %></th>
    <th><%= AdBanner::Banner.human_attribute_name :created_at %></th>
    <th style="text-align: center; width: 60px;"><%= AdBanner::Banner.human_attribute_name :state %></th>
  </tr>

  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, map_marker_path(content: @content, id: item.id) %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: left;"><%= item.latitude %></td>
    <td style="text-align: left;"><%= item.longitude %></td>
    <td style="text-align: center;"><%= item.status.try(:name) %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
