<%= render 'header', title: 'パスワード変更' -%>

<%= form_tag(admin_password_path, :method => :put) do -%>
  <div class="box">
    <%= render 'inner_box' %>
    <div class="message">
      変更するパスワードを入力して<br />
      ［パスワード更新］をクリックしてください。
    </div>
    <div class="fields">
      <%= password_field_tag :password, nil, placeholder: 'パスワード', title: 'パスワード' %><br />
      <%= password_field_tag :password_confirmation, nil, placeholder: 'パスワード確認', title: 'パスワード確認' %>
      <%= hidden_field_tag :token, @token %>
    </div>
    <div class="submitters">
      <%= submit_tag 'パスワード更新', class: 'login' %>
    </div>
  </div>
<%- end -%>

<%= render 'footer' -%>
