<%= render 'header', title: 'ログイン' %>

<%= form_tag do -%>
  <%= hidden_field_tag :uri, @uri %>
  <div class="box">
    <%= render 'inner_box' %>
    <div class="fields">
      <%= text_field_tag :account, nil, placeholder: 'ユーザID', title: 'ユーザID' %><br />
      <%= password_field_tag :password, nil, placeholder: 'パスワード', title: 'パスワード' %>
    </div>
    <div class="submitters">
      <%= image_submit_tag '/_common/themes/admin/images/bt_login.gif', alt: 'ログイン', class: 'login' %>
    </div>
    <div class="password_reminder"><%= link_to '>>パスワード変更', new_admin_password_reminder_path %></div>
  </div>
<%- end -%>

<%= render 'footer' %>
