<%= render 'header', title: 'パスワード変更' %>

<%= form_tag(admin_password_reminders_path) do -%>
  <div class="box">
    <%= render 'inner_box' %>
    <div class="message">
      ユーザIDと登録されているメールアドレスを入力して<br />
      ［パスワード変更］をクリックしてください。
    </div>
    <div class="fields">
      <%= text_field_tag :account, nil, placeholder: 'ユーザID', title: 'ユーザID' %><br />
      <%= text_field_tag :email, nil, placeholder: 'メールアドレス', title: 'メールアドレス' %>
    </div>
    <div class="submitters">
      <%= submit_tag 'パスワード変更', class: 'login' %>
    </div>
    <div class="password_reminder"><%= link_to '>>ログイン', admin_login_path %></div>
  </div>
<%- end -%>

<%= render 'footer' %>
