<%= form_tag '', :method => 'get', :class => 'search' do -%>
<table>
  <tr>
    <td>期間指定</td>
    <td><%= text_field_tag 'from', params[:from], :style => 'width: 100px;', :class => 'js-date' %></td>
    <td>〜</td>
    <td><%= text_field_tag 'to', params[:to], :style => 'width: 100px;', :class => 'js-date' %></td>
    <td><%= submit_tag '適用' %></td>
  </tr>
</table>
<%- end -%>

<%= javascript_tag do %>
$(function() {
  $('.js-date').datepicker({ dateFormat: 'yy-mm-dd' });
});
<% end %>
