<%= render(layout: 'gp_article/admin/piece/shared/show') do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :num_docs_visibility %></th>
    <td><%= @item.num_docs_visibility_text %></td>
  </tr>
  <tr>
    <th><%= @item.locale :term %></th>
    <td><%= @item.term_text %></td>
  </tr>
  <tr>
    <th><%= @item.locale :order %></th>
    <td><%= @item.order_text %></td>
  </tr>
  <tr>
    <th><%= @item.locale :impl %></th>
    <td><%= @item.impl_text %></td>
  </tr>
</table>
<%- end -%>
