<%= render :partial => 'search' %>

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 80px; text-align: right;">スレッド番号</th>
    <th>タイトル</th>
    <th style="width: 120px; text-align: center;">更新日時</th>
    <th style="width: 60px; text-align: center;">状態</th>
    <th style="width: 65px; text-align: center;">プレビュー</th>
  </tr>

  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td><%= truncate(item.title, :length => 36) %></td>
    <td style="text-align: center;"><%= item.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td style="text-align: center;"><%= item.status.name %></td>
    <td style="text-align: center;">
      <%= link_to 'PC', item.preview_uri(:params => {:id => item.id}), :target => '_blank' if item.preview_uri %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>
