<%= form_tag "#{item.public_uri}comments/confirm" do -%>
<div class="commentPost">
  <div class="commentItem">
    <%= label_tag 'comment[author_name]', '名前' %> <span class="note">※</span>
    <%= text_field_tag 'comment[author_name]', nil, :style => 'width: 300px;' %>
  </div>
  <div class="commentItem">
    <%= label_tag 'comment[author_email]', 'メールアドレス' %>
    <%= text_field_tag 'comment[author_email]', nil, :style => 'width: 300px;' %>
  </div>
  <div class="commentItem">
    <%= label_tag 'comment[author_url]', 'ホームページ' %>
    <%= text_field_tag 'comment[author_url]', nil, :style => 'width: 500px;' %>
  </div>
  <div class="commentItem">
    <%= label_tag 'comment[body]', 'コメント' %>
    <%= text_area_tag 'comment[body]', nil, size: '100x5' %>
  </div>
  <div class="commentItem">
    画像認証
    <%= show_simple_captcha(input_html: {required: false}) %>
  </div>
  <div class="commentItem">
    <%= submit_tag '投稿する', confirm: '送信してもよろしいですか？' %>
  </div>
</div>
<%- end -%>
