<div id="comments" class="comments">
  <%- unless item.public_comments.empty? -%>
  <h2>コメント</h2>
  <div class="commentsBody">
    <%- item.public_comments.each do |comment| -%>
    <div class="comment">
      <div class="body"><%=simple_format comment.body %></div>
      <div class="commentNavi">
        <span class="author"><%= comment.author_name %></span>
        <span class="date"><%=l comment.updated_at %></span>
      </div>
    </div>
    <%- end -%>
  </div>
  <%- end -%>

  <h2>コメントの投稿</h2>
  <%= form_tag "#{item.public_uri}comments/confirm" do -%>
  <div class="commentPost">
    <table>
      <tr>
        <th><%= label_tag 'comment[author_name]', '名前' %> <span class="note">※</span></th>
        <td><%= text_field_tag 'comment[author_name]', nil, :style => 'width: 300px;' %></td>
      </tr>
      <tr>
        <th><%= label_tag 'comment[author_email]', 'メールアドレス' %></th>
        <td><%= text_field_tag 'comment[author_email]', nil, :style => 'width: 300px;' %></td>
      </tr>
      <tr>
        <th><%= label_tag 'comment[author_url]', 'ホームページ' %></th>
        <td><%= text_field_tag 'comment[author_url]', nil, :style => 'width: 500px;' %></td>
      </tr>
      <tr>
        <th><%= label_tag 'comment[body]', 'コメント' %></th>
        <td><%= text_area_tag 'comment[body]', nil, size: '100x5' %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;"><%= submit_tag '投稿する' %></td>
      </tr>
    </table>
  </div>
  <%- end -%>
</div>
