<div class="contentGpArticleDocs">
  <%- if @content.feed_display? -%>
  <ul class="feed">
    <li><%= link_to 'RSS' , "index.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
    <li><%= link_to 'Atom', "index.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
  </ul>
  <%- end -%>
  <div class="docs">
    <%- if @content.doc_list_style == 'simple' %>
      <%=raw '<ul>' if @content.wrapper_tag == 'li' %>
      <%- @docs.each do |doc| -%>
      <%= content_tag @content.wrapper_tag, doc_replace(doc, @content.list_style, @content.date_style) %>
      <%- end -%>
      <%=raw '</ul>' if @content.wrapper_tag == 'li' %>
  <%- else -%>
      <% @items.each_with_index do |item, idx| %>
      <%- if item[:date] -%>
      <%=raw '</ul>' if @content.wrapper_tag == 'li' && idx.nonzero? %>
      <h2 class="date"><%= item[:date] %></h2>
      <%=raw '<ul>' if @content.wrapper_tag == 'li' %>
      <%- end -%>
      <%= content_tag @content.wrapper_tag, doc_replace(item[:doc], @content.list_style, @content.date_style) %>
      <%- end -%>
      <%=raw '</ul>' if @content.wrapper_tag == 'li' && @items.present? %>
    <%- end -%>
  </div>
  <%= paginate @docs %>
</div>
