<article class="contentGpArticleDoc">

<p class="publishedAt"><%= @item.published_at.try(:strftime, '%Y年%-m月%-d日') %></p>

<div class="body"><%=sanitize @item.body.gsub('"file_contents/', %Q("#{@item.public_uri}file_contents/)) %></div>

<%= render 'cms/public/_partial/maps/view', item: @item %>

<%- unless @item.rel_docs.empty? -%>
<div class="rels">
  <h2>関連記事</h2>
  <ul>
    <%- @item.rel_docs.each do |doc| next unless doc.public? -%>
    <li><%= render 'gp_article/public/shared/doc', doc: doc, list_style: @content.list_style, date_style: @content.date_style %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>

<%- if (node = @item.content.tag_content_tag.try(:tag_node)) && !@item.tags.empty? -%>
<div class="tags">
  <h2>関連ワード</h2>
  <ul>
    <%- @item.tags.each do |tag| -%>
    <li><%= link_to tag.word, tag.public_uri %></li>
    <%- end -%>
  </ul>
</div>
<% end %>

<%= render 'cms/public/_partial/inquiries/view', item: @item %>

<div class="back"><%= link_to_function '戻る', 'history.back();' %></div>

<!-- end .contentGpArticleDoc --></article>
