<article class="contentGpArticleDoc">

<%- if @content.display_dates(:published_at) || @content.display_dates(:updated_at) -%>
<div class="date">
  <%- if @content.display_dates(:published_at) -%>
  <p class="publishedAt">公開日 <%= @item.formated_display_published_at %></p>
  <%- end -%>
  <%- if @content.display_dates(:updated_at) -%>
  <p class="updatedAt">最終更新日 <%= @item.formated_display_updated_at %></p>
  <%- end -%>
</div>
<%- end -%>

<div class="body">
  <div class="text-beginning"><%=raw (
  unless Page.mobile?
    body = @item.template ? template_body(@item.template, @item.template_values, @item.files) : @item.body.to_s
    body.gsub(/("|')file_contents\//, '\1'+%Q(#{Core.publish || Core.mode != 'preview' ? @item.public_uri(without_filename: true) : @item.preview_uri(without_filename: true)}file_contents/))
  else
    @item.body_for_mobile
  end) %></div>

  <%- if @content.blog_functions_available? -%>
    <%- if @item.body_more.present? -%>
  <div class="text-continues"><%=raw @item.body_more %></div>
    <%- end -%>
    <%- if @content.blog_functions[:footer_style].present? -%>
  <div class="footer"><%= doc_replace(@item, @content.blog_functions[:footer_style], @content.date_style, @content.time_style) %></div>
    <%- end -%>
  <%- end -%>
</div>

<%- unless Page.mobile? -%>
<%= render 'cms/public/_partial/maps/view', item: @item %>
<%- end -%>

<%- unless Page.mobile? -%>
<%= render 'rel_docs', item: @item %>
<%- else -%>
<%= render 'rel_docs_mobile', item: @item %>
<%- end -%>

<%- unless Page.mobile? -%>
<%- if (node = @item.content.tag_content_tag.try(:tag_node)) && !@item.tags.empty? -%>
<div class="tags">
  <h2>関連ワード</h2>
  <ul>
    <%- @item.tags.each do |tag| -%>
    <li><%= link_to tag.word, tag.public_uri %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>
<%- end -%>

<%- if @item.qrcode_visible? -%>
<div class="qrcode">
<img src="<%= @item.qrcode_uri(preview: (!Core.publish && Core.mode == 'preview')) %>" />
</div>
<%- end -%>

<%= render 'cms/public/_partial/many_inquiries/view', item: @item %>

<%- if @content.blog_functions[:comment] -%>
<%= render 'comments', item: @item %>
<%- end -%>

<%- if @item.links_in_string(body, false).any?{|l| l[:url] =~ /\.pdf$/i } -%>
<div class="adobeReader">
  <p>PDFの閲覧にはAdobe System社の無償のソフトウェア「Adobe Reader」が必要です。下記のAdobe Readerダウンロードページから入手してください。</p>
  <a href="http://get.adobe.com/jp/reader/" target="_blank" title="Adobe Readerダウンロード">Adobe Readerダウンロード</a>
</div>
<%- end -%>
<!-- end .contentGpArticleDoc --></article>
